@{
    Layout = null;
}
<style>
    body {
        display: none;
    }
</style>

<script>

    $(function () {
        if (self == top) {
            var theBody = document.getElementsByTagName('body')[0];
            theBody.style.display = "block";
        } else {
            top.location = self.location;
        }
    });


</script>
<div class="container panel panel-default">
    <div class="panel-body"><strong>售后服务 - 兑换劵核销</strong></div>
</div>

<div class="container panel panel-default" data-ng-init="load()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">兑换劵号码：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="兑换劵号码" ng-model="formData.PhoneNumber" />
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">兑换劵类型：</label>
                        <label class="col-md-2 control-label" style="text-align:left">机油滤芯兑换券</label>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">领取手机号：</label>
                        <label class="col-md-2 control-label" style="text-align:left">13717869314</label>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">姓名：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="姓名" ng-model="formData.PhoneNumber" />
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">车架号：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="车架号" ng-model="formData.PhoneNumber" />
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">车型：</label>
                        <label class="col-md-5 control-label" style="text-align:left">瑞纳 2014款 1.6L 自动领先型GLX</label>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">行驶里程：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="行驶里程" ng-model="formData.PhoneNumber" />
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">使用时间：</label>
                        <input class="col-md-2 form-control datepicker" data-date-format="yyyy-mm-dd" ng-model="formData.Start" />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary col-md-offset-5" type="button" ng-click="search()" value="确认核销" />
                    </div>

                    <script type="text/javascript">
                        $('.datepicker').datepicker();
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
