@{
    Layout = null;
}
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
                top.location.hostname;
                if (top.location.hostname != window.location.hostname) {
                top.location.href =window.location.href;
            }
            }
                catch(e){
                top.location.href = window.location.href;
            }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div id="MembershipTerms">
    <div class="alertclose" onclick="$('#divDialogInfo').hide();" style="position: relative;float: right;">
        &times;
    </div>
    <h2 style="text-align: center;font-weight:bold;margin-top:20px;margin-bottom:10px;">礼悦会入会条款</h2>
    <div style="min-height:100px;height:73vh;overflow-y:scroll;">
        <div class="body-content">
            <p>
                海航酒店集团创建于1997年，是海航集团的全资子公司。是世界酒店集团100强，中国三大酒店管理集团之一，中国最具竞争力民族酒店品牌，中国最佳 酒店管理集团公司。
            </p>
            <p>
                礼悦会是海航酒店集团客户忠诚奖励计划，旨在以全新服务理念，为客户提供价值回报和尊享体验。目前，海航酒店集团礼悦会参与酒店包括唐拉雅秀品牌酒店、商务酒店、度假酒店以及其他各类海航酒店，遍布北京、天津、海口、三亚、杭州、西安、东莞、长春、内蒙古、儋州、保亭等多个城市。
            </p>
            <p>
                礼悦会会员在下榻礼悦会参与酒店时即可享受专有特权。礼悦会会员完成入住消费，即可累计礼悦会积分。会员积分可用于兑换住宿、航空里程和其他精美礼品。
            </p>
            <p>
                一旦加入礼悦会，会员则自动被视为同意并接受本章程所有相关条款；海航酒店集团和礼悦会有权随时修订、修改、取消或增补本章程各项条款，变更后的章程一旦在礼悦会网站发布，即时生效，恕不再对每位会员做另行通知，欢迎广大会员及时登陆礼悦会会员网站，关注并了解最新会员章程。
            </p>
            <p>
                1. 入会资格及费用
                <br />
                <span class="body-list-content">1.1 申请人必须是年满18周岁或达到申请人所居住国家的法定成年年龄的个人；</span>
                <br />
                <span class="body-list-content">1.2 申请人尚不是礼悦会会员，未开设会员账户、未被礼悦会终止会籍；</span>
                <br />
                <span class="body-list-content">1.3 申请人可免费加入礼悦会。</span>
            </p>
            <p>
                2. 入会方式
                <br />
                <span class="body-list-content">申请人可通过如下三种渠道申请加入礼悦会：</span>
                <br />
                <span class="body-list-content">1) 登录礼悦会网站及其他移动终端并登记相关信息；</span>
                <br />
                <span class="body-list-content">2) 通过拨打礼悦会会员服务中心电话登记相关信息；</span>
                <br />
                <span class="body-list-content">3) 在酒店前台登记相关信息。</span>
            </p>
            <p class="body-list-detail-content">申请人登记信息通过审核、收到礼悦会发出的确认信息后，需登录礼悦会网站修改账户密码，便于日后浏览本人的账户信息和活动情况。</p>
            <p>
                3. 会员级别
                <br />
                <span class="body-list-content">3.1会员卡级别：</span>
                <br />
                <span class="body-list-content">1) 礼悦卡会员</span>
                <br />
                <span class="body-list-content">2) 银卡会员</span>
                <br />
                <span class="body-list-content">3) 金卡会员</span>
                <br />
                <span class="body-list-content">4) 钻石卡会员</span>
            </p>
            <p class="body-list-detail-content">
                每个级别享有专属的会员特权。礼悦会将用心让每位会员的每次入住及消费都能享受到尊贵的专属服务。
            </p>
            <p>
                <span class="body-list-content" style="margin-left:0;">3.2会员卡级别说明</span>
                <br />
                <span class="body-list-content">会员会籍永久有效。</span>
                <br />
                <span class="body-list-content">1) 礼悦卡会员：通过电话、网站注册或在任一礼悦会俱乐部会员酒店前台登记即可成为礼悦卡会员。</span>
                <br />
                <span class="body-list-content">2) 银卡会员： 在成为礼悦会会员当日起的一个有效评估年内，在任一礼悦会加盟酒店入住达3个间夜或者2500积分，会员级别将根据礼悦会的评估结果 立即升级为银卡会员。</span>
                <br />
                <span class="body-list-content">3) 金卡会员：在成为礼悦会会员当日起的一个有效评估年内，在任一礼悦会加盟酒店入住达20但不足50个间夜或积分达10000但不足30000时，会员级别 将根据礼悦会的评估结果立即升级成金卡会员。</span>
                <br />
                <span class="body-list-content">4) 钻石卡会员：在成为礼悦会会员即日起的一个有效评估年内，在任一礼悦会加盟酒店入住达50个间夜或积分达30000分时，会员级别将根据礼悦会评估结果立即升级至钻石会员。</span>
                <br />
                <span class="body-list-content">5) 礼悦会会员服务中心将根据会员账户信息对会员进行持续的评估，并根据一个有效评估年的评估结果对会员级别进行重新调整 (一个有效评估年是指 从入会之日起的连续十二个月)。会员升级后，一个评估年内，银卡会员在只要入住达2个间夜或1500积分即可保持级别不变，金卡会员只要入住达12个间夜或6000积分即可保持级 别不变，钻石卡会员只要入住达30个间夜或18000积分即可保持级别不变。会员服务中心会在对会员级别调整前至少1个月时提醒会员关于积分数量，升级/保级/降级状态以及相关信息。</span>
            </p>
            <p>
                4. 会员专享礼遇
                <br />
                <span class="body-list-content">会员本人可凭会员手机号在入住礼悦会成员酒店时获取专享服务，彰显会员尊贵身份。</span>
                <br /><br />
                <table style="width: 96%; margin-left: 2%; " cellpadding="0" cellspacing="0">
                    <tr class="title">
                        <th colspan="3" width="44%" style="text-align:center">专享礼包</th>
                        <th width="14%" style="text-align:center">礼悦卡</th>
                        <th width="14%" style="text-align:center">银卡</th>
                        <th width="14%" style="text-align:center">金卡</th>
                        <th width="14%" style="text-align:center">钻石卡</th>
                    </tr>
                    <tr class="content">
                        <th colspan="7" style="border: 1px solid #924774;text-align:center">积分奖励</th>
                    </tr>
                    <tr class="content" style="background-color: #fff;">
                        <td width="15%" colspan="1" rowspan="2" style="height: 100px;" class="cell">积分奖励特权</td>
                        <td width="29%" colspan="2" class="cell">个人消费积分奖励</td>
                        <td class="cell">基础积分</td>
                        <td class="cell">基础积分</td>
                        <td class="cell">基础积分*150%</td>
                        <td class="cell">基础积分*200%</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">兑换海航酒店客房、餐饮券、航空里程或精美礼品</td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr class="content">
                        <th colspan="7" style="border: 1px solid #924774; border-top: none; text-align: center">会员贵宾礼遇</th>
                    </tr>
                    <tr class="content" style="background-color: #fff;">
                        <td width="15%" colspan="1" rowspan="2" style="height: 100px;" class="cell">预订保证</td>
                        <td width="29%" colspan="2" class="cell">客房预订保证-抵达前48小时担保预订</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">客房预订保证 – 抵达前72小时担保预订</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="content" style="background-color: #fff;">
                        <td width="15%" colspan="1" rowspan="12" style="height: 600px;" class="cell">预订保证</td>
                        <td width="29%" colspan="2" class="cell">前台会员专享服务通道办理入住和退房手续，享受快捷、优质的服务。</td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">快速入住与退房</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">客房免费宽带上网</td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">免费本地通话</td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">免费国内长途</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">入住期间享受每天熨烫衣物两件</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住宿率允许的前提下，会员入住可延迟退房至下午2点</td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住宿率允许的前提下，会员入住可延迟退房至下午4点</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住宿率允许的前提下，会员入住可延迟退房至晚上24点</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住宿率允许的前提下，上午8点提前登记入住</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住宿率允许的前提下，客房免费升级至高一级别客房。（钻石卡会员直接升级为套房）</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cell">住店期间，免费享饮Mini Bar软饮</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="cell">迎宾项目</td>
                        <td colspan="2" class="cell">入住首日享受免费欢迎水果</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="cell">特别权益</td>
                        <td colspan="2" class="cell">会员入住，生日当天赠免费蛋糕和鲜花</td>
                        <td class="cell"></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                        <td class="cell"><img src="/Img/DealerNew/right.png" /></td>
                    </tr>
                </table>
            </p>
            <p>会员资格的终止</p>
            <br />
            <p>
                5. 会员资格的终止
                <br />
                <span class="body-list-content">礼悦会有权根据如下情形，取消会员资格或宣告会员累积的所有未兑换积分无效：</span>
                <br />
                <span class="body-list-content">1) 会员违反本条款；</span>
                <br />
                <span class="body-list-content">2) 会员在申请信息中存在虚假陈述，或对会员账户有不当使用；</span>
                <br />
                <span class="body-list-content">3) 会员增值服务违反任何国家或本地区法律或法规；</span>
                <br />
                <span class="body-list-content">4) 会员有涉及礼悦会任何内容的欺诈或滥用；</span>
                <br />
                <span class="body-list-content">5) 单个会员拥有一个以上的会员账户（其他内容会员卡除外）；</span>
                <br />
                <span class="body-list-content">6) 会员以任何其它形式对海航酒店造成损害。</span>
            </p>
            <p>
                6. 积分规则
                <br />
                <span class="body-list-content">6.1积分规则说明：</span>
                <br />
                <span class="body-list-content">1) 会员可通过符合条件的住宿房价、餐饮等消费累计积分。会员入会之前所完成的消费不可获得积分。积分本身不具有现金价值，不得私自交易，除非本条款中另作说明。</span>
                <br />
                <span class="body-list-content">2) 个人消费基础积分：符合积分标准的房价客房，房费每1元积1分；餐饮消费每2元积1分。</span>
                <br />
                <span class="body-list-content">6.2 积分永久有效。</span>
                <br />
                <span class="body-list-content">6.3 奖励积分：加入礼悦会时，礼悦会将为会员账户免费提供1000奖励积分。</span>
                <br />
                <span class="body-list-content">6.4 符合条件的消费包括：符合条件的房价（不含酒店服务费）和餐饮消费。</span>
                <br />
                <span class="body-list-content">6.5 以下情况的消费不能获得礼悦会积分：通过第三方网站预订房间的房费、免费或实物交易的消费、奖励积分消费、旅行社散客订房、会议、旅游团队订房、航空公司乘务人员协议房、长包房、免费房、交换房及自用房。</span>
                <br />
                <span class="body-list-content">6.6 积分最大量约定：会员一次入住预定多间客房 (同一次入住最多可积分3间客房的消费) 时，可积累多间客房消费的积分，但预定会员须入住其中一间。</span>
            </p>
            <p>
                7. 积分兑换
                <br />
                <span class="body-list-content">7.1 积分兑换免费房：</span>
                <br />
                <span class="body-list-content">1) 会员可在有效渠道（如会员官网、会员服务中心、移动终端等）进行兑换；</span>
                <br />
                <span class="body-list-content">2) 免费间夜兑换活动仅限兑换最多两人入住的房间。</span>
                <br />
                <span class="body-list-content">3) 同一会员同一天在同一酒店最多可兑换3间免费房。</span>
                <br />
                <span class="body-list-content">7.2 积分兑换航空里程：会员可使用礼悦会积分兑换航空里程，2个礼悦会积分兑换1个航空里程，申请兑换之日起两月内到账。</span>
                <br />
                <span class="body-list-content">7.3 积分兑换精美礼品：</span>
                <br />
                <span class="body-list-content">1) 根据会员选择的礼品下订单，邮寄礼品至会员指定地址。</span>
                <br />
                <span class="body-list-content">2) 礼品邮寄地址需用中文完整填写：收件人姓名、电话、e-mail、收货地址（确保真实有效）、邮编。</span>
                <br />
                <span class="body-list-content">3) 礼品如因地址不详、邮寄信息错误等原因导致礼品无法送达的，重新安排邮寄的费用需由会员自理。</span>
                <br />
                <span class="body-list-content">4) 礼品的递送只限于中国大陆地区。</span>
                <br />
                <span class="body-list-content">5) 礼品一般在提交申请后一周内寄出，预计20日内送达。如遇到节假日或缺货情况，邮寄配送将相应延期。</span>
                <br />
                <span class="body-list-content">6) 礼品要求本人签收，收到产品时，请务必先检查产品是否符合要求后，再签字确认。</span>
                <br />
                <span class="body-list-content">7) 礼品兑换中如果遇到相关问题，请及时拨打会员服务热线。</span>
            </p>
            <p>
                8. 会员卡管理
                <br />
                <span class="body-list-content">8.1 发卡</span>
                <br />
                <span class="body-list-content">1) 所有级别会员均享有电子虚拟卡。</span>
                <br />
                <span class="body-list-content">2) 会员升级为钻石卡会员，酒店集团会电话询问，由钻石会员本人自主决定是否需要实体卡，需要的由酒店集团邮寄实体卡。</span>
                <br />
                <span class="body-list-content">8.2 会员卡密码重置与挂失 </span>
                <br />
                <span class="body-list-content">1) 密码重置可以在官网直接操作，也可通过呼叫中心或礼悦会成员酒店前台凭有效证件办理，由成员酒店为会员办理密码重置。</span>
                <br />
                <span class="body-list-content">2) 钻石卡会员拨打4008 768 666对会员卡进行挂失，礼悦会核实身份后重新邮寄新卡，或者在最近的海航成员酒店持本人身份证办理，办理挂失手续前的经济损失由持卡人承担。</span>
            </p>
            <p>
                9. 会员信息维护
                <br />
                <span class="body-list-content">9.1 礼悦会会员所提供的个人信息将在海航酒店集团自有的数据库中保存和维护。会员应保证所提供的信息的真实性，同意接受且明确做出以下授权：</span>
                <br />
                <span class="body-list-content">由海航酒店集团、下属机构、附属机构、特许经营代理商，礼悦会或授权代表礼悦会的第三方进行数据控制和管理，并可以出于会员记录、宾客服务、广告、市场营销和通信等目的使用这些信息。</span>
                <br />
                <span class="body-list-content">9.2 会员有责任维护自己的会员账户和密码的使用权及其保密性，并且同意对使用该账户和密码进行的任何活动负责。</span>
                <br />
                <span class="body-list-content">9.3 为了保障会员充分享受海航酒店集团所提供的所有会员权益，如会员信息（通讯地址、联系方式等资料）变更时，请及时通知会员中心。</span>
            </p>
            <p>
                10. 解释
                <br />
                <span class="body-list-content">本条款最终解释权归海航酒店集团所有。</span>
                <br />
                <span class="body-list-content">本计划的所有优惠内容、服务、条款与细则适用于下表所列酒店，海航酒店集团旗下其他酒店暂不支持本计划。</span>
                <br />
                <br />
                <table style="width: 96%; margin-left: 2%;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="cell" width="40%" style="border-top: 1px solid #924774;">海南新国宾馆</td>
                        <td class="cell" width="40%" style="border-top: 1px solid #924774;">海口市滨海西路111号</td>
                        <td class="cell" width="20%" style="border-top: 1px solid #924774;">0898-966988</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">北京唐拉雅秀酒店</td>
                        <td class="cell" width="40%">中国北京市西长安街复兴门外大街19号</td>
                        <td class="cell" width="20%">58676688</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">三亚唐拉雅秀酒店</td>
                        <td class="cell" width="40%">中国海南省三亚市三亚湾旅游度假区</td>
                        <td class="cell" width="20%">+86 0898 38873887</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">天津中心唐拉雅秀酒店</td>
                        <td class="cell" width="40%">中国天津市和平区南京路219号</td>
                        <td class="cell" width="20%">022-2321 5888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">西安皇城海航商务酒店</td>
                        <td class="cell" width="40%">陕西省西安市东新街258号</td>
                        <td class="cell" width="20%">029-87482888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">长春紫荆花海航大酒店</td>
                        <td class="cell" width="40%">吉林省长春市南关区人民大街5688号</td>
                        <td class="cell" width="20%">0431-85563333</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">长春名门海航大酒店</td>
                        <td class="cell" width="40%">中国吉林省长春市人民大街4501号</td>
                        <td class="cell" width="20%">0431-85565666</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">杭州花港海航度假酒店</td>
                        <td class="cell" width="40%">杭州杨公堤1号</td>
                        <td class="cell" width="20%">0571-87998899</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">三亚凤凰机场海航快捷酒店</td>
                        <td class="cell" width="40%">三亚凤凰国际机场候机楼正对面（约100米）</td>
                        <td class="cell" width="20%">0898-88698888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海口国商海航商务酒店</td>
                        <td class="cell" width="40%">海南省海口市大同路38号</td>
                        <td class="cell" width="20%">0898-66796999</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">杭州云栖海航度假酒店</td>
                        <td class="cell" width="40%">中国 浙江省 杭州市 西湖区 梅灵南路一号</td>
                        <td class="cell" width="20%">0571-28888888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海南三亚亚太国际会议中心</td>
                        <td class="cell" width="40%">海南省三亚市三亚湾旅游度假区</td>
                        <td class="cell" width="20%">08988833 2666</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海南儋州海航新天地酒店</td>
                        <td class="cell" width="40%">海南省儋州市中兴大道168号</td>
                        <td class="cell" width="20%">0898-3699 9999</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海南七仙岭龙湾珺唐酒店</td>
                        <td class="cell" width="40%">海南省保亭县七仙岭温泉国家森林公园温泉路8号</td>
                        <td class="cell" width="20%">0898-8360 5555</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">内蒙古唐拉雅秀酒店</td>
                        <td class="cell" width="40%">海南省万宁市石梅湾兴隆旅游度假区</td>
                        <td class="cell" width="20%">0898-966988</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海南兴隆康乐园海航度假酒店</td>
                        <td class="cell" width="40%">内蒙古锡林浩特市锡林大街88号</td>
                        <td class="cell" width="20%">0898 6256 8888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">长春长白山海航宾馆（吉林省旅游集团有限责任公司长白山宾馆）</td>
                        <td class="cell" width="40%">长春市新民大街1448号</td>
                        <td class="cell" width="20%">0431-5558 8888</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">海口美兰海航酒店</td>
                        <td class="cell" width="40%">海南省海口市美兰国际机场候机楼西侧300米</td>
                        <td class="cell" width="20%">0898-6575 9999</td>
                    </tr>
                    <tr>
                        <td class="cell" width="40%">东莞唐拉雅秀酒店</td>
                        <td class="cell" width="40%">广东省东莞市东城区迎宾路8号</td>
                        <td class="cell" width="20%">0769-2269 8888</td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <p style="position: relative;width: 100%;height: 60px;display:none">
        <input type="button" value="确定" onclick="$('#divDialogInfo').fadeOut(500)"
               style="height: 30px; width: 200px; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; background-color: #924774; color: #fff; border: 1px solid #924774;cursor:pointer; " />
    </p>
</div>
