@model IEnumerable<string>
@{
    Layout = null;
}



<select id="sltProvince" onchange="Dealer.city(this);">
    <option value="-1">省</option>
    @{
        if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <option>@item</option>
            }
        }
    }
</select>

<select id="sltCity" onchange="Dealer.list(this, document.getElementById('sltProvince'));">
    <option value="-1">市</option>
</select>

<select id="sltDealer">
    <option value="-1">特约店</option>
</select>

