@model IEnumerable<Vcyber.BLMS.Entity.ImageCarousel>
@{
    Layout = null;
}
<div class="tab_silder">
    <div id="slider">

        <ul>
            @{
                if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <li><a href="@item.LinkUrl" target="_blank"><img src="@item.TrueImageUrl" onerror="this.src = '/img/default_banner.png'"></a></li>
                    }
                }
            }
        </ul>
    </div>
</div>

