<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Level2Domain80Host" value="bluemembers.beijing-hyundai.com.cn"/>
    <add key="Level3Domain80Host" value="m.bluemembers.com.cn"/>
    <add key="Level3Domain" value="https://m.bluemembers.com.cn:449"/>
    <add key="Level2Domain" value="https://bluemembers.beijing-hyundai.com.cn:444"/>
    <add key="Level1Domain" value="https://www.bluemembers.com.cn"/>
    <add key="weixinPage" value="https://www.bluemembers.com.cn/weixin/UserCenter/Index"/>
    <add key="" value=""/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/> 
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>