@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>附近经销商</title>
</head>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=87418772c207aae3709a3a4028248cfc"></script>
<script type="text/javascript">
        var agencyMapBtn = $(".agencyMapBtn"), MapWrap = $("#MapWrap"), doc = $(document);
        agencyMapBtn.on("click", function () {
            MapWrap.show();
            console.log(MapWrap)
        });
        MapWrap.on("click", function () {
            MapWrap.hide();
        });
        function recmap(position, address) {
            var pos = position.split(",");
            location.href = "http://m.amap.com/navi/?dest=" + pos[1] + "," + pos[0] + "&destName=" + address + "&hideRouteIcon=0&key=87418772c207aae3709a3a4028248cfc"
        }
</script>
<script src="~/Scripts/Dealer/dealer.near.js"></script>
<script src="~/Scripts/Dealer/dealer.search.js"></script>

<body>
    <div class="agency-hd agency-hdBorder">
        <div class="agency-hd-bar">
            <a href="/Common/DealerNear" class="currAgency">附近的经销商</a>
            <a href="/Common/DealerQuiry">经销商查询</a>
        </div>
    </div>

    <div id="dealerPanl">
           
    </div>
</body>