@model System.Data.DataTable
@using System.Data;
@{
    Layout = null;
}
<div class="data-container" style="padding-top:30px">
    <table class="table table-bordered">
        @if (Model != null)
        {
            <thead>
                <tr>
                    @for (int i = 0; i < Model.Columns.Count; i++)
                    {
                        <th>@Model.Columns[i].ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @*//输出*@
                        @foreach (var item in row.ItemArray)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }

            </tbody>
        }
    </table>
</div>
