<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="Data source=.;Initial Catalog=BLMS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="DbConnection" connectionString="Data Source =10.125.211.96;Initial Catalog = BlueMember;User Id = bmdev;Password = !vcyber123;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="yafnet" connectionString="Data Source =10.125.211.96;Initial Catalog = YAF_TEST;User Id = bmdev;Password = !vcyber123;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>