
@{
    ViewBag.Title = "权限- 角色管理";
}
@Scripts.Render("~/Scripts/Manage/Role.js")
@Scripts.Render("~/Scripts/Manage/AddRole.js")
@Scripts.Render("~/Scripts/Manage/EditRole.js")
@Scripts.Render("~/Scripts/Manage/BindFunction.js")
<div class="g_page_content"><div id="listA" ></div></div>
