@model IEnumerable<Vcyber.BLMS.Entity.Magazine>
@{
    Layout = null;
}
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
@{
    <script>
        function addBlueBean() {
            $.ajax({
                url: "/News/AddBlueMember",
                type: "get"
            });
        }
        $(function () {
            $(".gr_p").find("br").remove();
        })

    </script>
    <style type="text/css">
        .gy_nr p {
            margin-left: 0px;
            margin-right: 0px;
            line-height: 15px;
            margin-bottom: 0px;
        }

        .gr_p span {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <div class="zzdow">
        <div class="gy_cont">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="gy_nr" style="height:316px;">
                        <span style="float: left; margin: 0; width: 165px;">
                            <img style="width: 145px; height: 211px; float: left;" src="@item.TrueImageUrl" />
                        </span>
                        <span style=" width: 114px; margin: 0; float: right; padding-top:10px;">
                            @*<h2>期刊下载</h2>*@
                            <h1>@item.Title</h1>
                            <span class="gr_num" style="width:80px; line-height:27px;">本期看点</span>
                            <br />
                            <br />
                            <br />
                            <div class="gr_p" style=" max-height:105px; overflow: hidden; width: 100%; margin-left: 0;">
                                @Html.Raw(item.TrueSummary)
                            </div>
                            <a onclick="addBlueBean()" href="@item.ReadLink" style="float:left; width:104px; background-color:#075090; height: 29px; line-height:30px; margin-top:9px; cursor:pointer;text-align:center;color:white;">
                                @*<img src="/img/dow.png" style="margin:0;" />*@
                                在线阅读
                            </a>
                        </span>
                    </div>
                }
            }
        </div>
    </div>
}
