
@{
    ViewBag.Title = "会员体系升级";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/memberSystemUpGrade.css" rel="stylesheet" />
<div class="upgrade">
    <p>会员体系全面升级啦！bluemembers蓝缤不断创新，致力于为全系车主会员提供全方位、高品质、专业化的优质服务。丰富的会员权益，丰厚的积分奖励还有更多优质服务等您来享。</p>
    <div class="table">
        <h2 class="table_h2">升级一、会员等级更完善</h2>
        <span class="table_span">新增金卡等级会员，开通会员晋级通道。</span>
        <table class="get-integral">
            <tbody>
                <tr>
                    <th width="10%" rowspan="3" style="vertical-align:middle;" class="integral_color">晋级<br>条件</th>
                    <td width="15%" style="vertical-align:middle;">金卡</td>
                    <td width="75%" style="border-bottom:0;" class="tdParMemb">
                        会员入会当天开始计算，1年内累计增换购2次以上（含2次）即可晋级为金卡会员；除首保外，返厂消费4次或消费金额达到3000元以上即可晋级金卡会员
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle;">银卡</td>
                    <td style="border-bottom:0;" class="tdParMemb">会员入会当天开始计算，1年内累计增换购1次即可晋级为银卡会员；除首保外，返厂消费2次或消费金额达到1500元以上即可晋级银卡会员</td>
                </tr>
                <tr>
                    <td>普卡</td>
                    <td>车主成功入会即为普卡会员</td>
                </tr>
                <tr>
                    <th rowspan="3" style="vertical-align:middle;" class="integral_color">保级<br>条件</th>
                    <td style="vertical-align:middle;">金卡</td>
                    <td class="tdParMemb" style="border-bottom:0;">会员升级当天计算，1年内累计返厂3次或消费金额2250元，即可保级；如未达到则降级</td>
                </tr>
                <tr>
                    <td style="vertical-align:middle;">银卡</td>
                    <td class="tdParMemb" style="border-bottom:0;">会员升级当天计算，1年内累计返厂3次或消费金额2250元，即可保级；如未达到则降级</td>
                </tr>
                <tr>
                    <td>普卡</td>
                    <td>——</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table">
        <h2 class="table_h2">升级二、全系车型纳入体系</h2>
        <span class="table_span">（蓝缤）会员新体系纳入了北京现代全系车型， 2016年4月1日购车，且3个月内成功入会并完成缴费即可获得积分好礼，10积分=1元。</span>
        <table class="get-integral">
            <thead>
                <tr>
                    <th width="70%" colspan="2">积分来源</th>
                    <th width="30%">获取积分</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%" rowspan="2" style="vertical-align: middle;">首次购车</td>
                    <td style="border-bottom: 0;">
                        全新途胜、第九代索纳塔、全新胜达、ix25、ix35、名图、名驭
                    </td>
                    <td style="vertical-align: middle;">4000</td>
                </tr>
                <tr>
                    <td>领动、朗动、悦动、瑞纳、瑞奕</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align: middle;">增购换购</td>
                    <td>全新途胜、第九代索纳塔、全新胜达、ix25、ix35、名图、名驭</td>
                    <td style="vertical-align: middle;">7000</td>
                </tr>
                <tr>
                    <td>领动、朗动、悦动、瑞纳、瑞奕</td>
                    <td>4000</td>
                </tr>
                <tr>
                    <td rowspan="3" style="vertical-align: middle;">维修保养</td>
                    <td>普卡</td>
                    <td>自费金额*10%</td>
                </tr>
                <tr>
                    <td>银卡</td>
                    <td>自费金额*15%</td>
                </tr>
                <tr>
                    <td>金卡</td>
                    <td>
                        <p class="tdP">自费金额*20%</p>
                        <p class="tdP">生日月自费金额*50%</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table  interests_table">
        <h2 class="table_h2">升级三、会员专属权益更丰富</h2>
        <span class="table_span">更多车辆服务、生活服务供您选择。旅行酒店欢乐行，餐饮娱乐舒心享。</span>

        <table>
            <tbody>
                <tr>
                    <th width="40%" style="vertical-align: middle;" rowspan="2">会员权益</th>
                    <th width="60% " colspan="3">会员类别</th>
                </tr>
                <tr>
                    <th width="20% ">普卡</th>
                    <th width="20% ">银卡</th>
                    <th width="20% ">金卡</th>
                </tr>
                <tr>
                    <td>会员商城折扣优惠</td>
                    <td>√</td>
                    <td>9折</td>
                    <td>8折</td>
                </tr>
                <tr>
                    <td>生日特别心意礼品</td>
                    <td>——</td>
                    <td>——</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>维修保养消费返积分</td>
                    <td>自费金额*10%</td>
                    <td>自费金额*15%</td>
                    <td>
                        <p>自费金额*20%</p>
                        <p>生日月自费金额*50%</p>
                    </td>
                </tr>
                <tr>
                    <td>春/夏/冬季售后卡券</td>
                    <td>√</td>
                    <td>√</td>
                    <td>
                        <p>√</p>
                    </td>
                </tr>
                <tr>
                    <td>车辆养护服务<br>(5种产品任选一种)</td>
                    <td>——</td>
                    <td>1次/年</td>
                    <td>
                        <p>2次/年</p>

                    </td>
                </tr>
                <tr>
                    <td>免费取送车服务</td>
                    <td>——</td>
                    <td>——</td>
                    <td>
                        √
                    </td>
                </tr>

                <tr>
                    <td>24小时道路救援</td>
                    <td colspan="3">2015年/2016年购买第九代索纳塔和全新途胜用户</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">机场尊享服务</td>
                    <td style="vertical-align: middle;">积分兑换</td>
                    <td style="border-bottom:0;">
                        <p>2次免费后</p>
                        <p>积分兑换</p>
                    </td>
                    <td style="border-bottom:0;">
                        <p>3次免费后</p>
                        <p>积分兑换</p>
                    </td>
                </tr>
                <tr>
                    <td>星巴克卡券</td>
                    <td>180积分兑换</td>
                    <td>150积分兑换</td>
                    <td>120积分兑换</td>
                </tr>

                <tr>
                    <td>景点门票</td>
                    <td>——</td>
                    <td>1000积分兑换</td>
                    <td>880积分兑换</td>
                </tr>

                <tr>
                    <td>途牛五星会员权益</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>海航礼悦会钻石权益</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>专属活动</td>
                    <td>——</td>
                    <td>——</td>
                    <td>√</td>
                </tr>


                <tr>
                    <td>预约试驾</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>在线订车</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>预约维保</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>线上保养产品</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>经销商查询</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>问卷调查</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>纯正配件查询</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>


                <tr>
                    <td colspan="4" class="last-table">
                        ——&nbsp;代表不享有该权益<br>
                        &nbsp;&nbsp;√&nbsp;&nbsp;&nbsp;&nbsp;代表享有该权益
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>*bluemembers会员权益将不断创新及丰富，服务详情以最终bluemembers网站公布为准</h3>
    </div>
    <div class="how_member">
        <h4>如何成为bluemembers会员？</h4>
        <h4>线上会员申请：</h4>
        <h4>*bluemembers注册用户：</h4>
        <h5>入会流程：访问bluemembers门户网站、App或微信→填写个人资料信息→注册成功→登陆</h5>
        <h4>*bluemembers会员申请：</h4>
        <h5>北京现代车主在特约店完成购车后，可以通过bluemembers网站、App、微信自行注册成为bluemembers会员。</h5>
        <h5>入会流程：购车完成→在线注册bluemembers会员→在线选择缴费方式完成缴费（通过并缴纳会费）→收到入会通知（短信）并获得积分→登陆</h5>
        <h4>线下会员申请：</h4>
        <h5>北京现代车主在特约店完成购车后，可以在店内填写入会申请表，由特约店协助完成入会。</h5>
        <h5>入会流程：购车完成→北京现代特约店→（索取）《北京现代bluemembers会员申请表》→填写个人资料→收到入会通知（短信）并获取积分。</h5>
    </div>
</div>