b, p, span, label, li, ol, a, h1, h2, div {
    font-family:'微软雅黑';
}
.dd_title {
        height:32px;
        line-height:32px;
        font-size:12px;
        width:100%;
}
.dd_title span {
    color:#00448d;
    cursor:pointer;
}
.dd_left {
    width:284px;
    height:auto;
    margin-top:20px;
}
.dd_news {
    height:324px;
    border:1px solid #eeeeee;
}
.dd_n1 {
    width:100%;
    height:50px;
    line-height:50px;
    background:#eeeeee;
}
.dd_news .dd_n1 span {
    margin-left:20px;
}

.jiantou {
    position:absolute;
    top:34px;

}
.bank_name {
    width:100%;
    height:82px;
    background:#eeeeee;
    margin-top:2px;
}
.bank_img {
    width:62px;
    float:left;
    height:82px;
    margin-right:20px;
}
.bank_img img {
    float:left;
    margin-top:22px;
    margin-left:16px;
        
}
.bank_name p {
    font-size:16px;
}

.jj_cont li {
    float:left;
    width:92px;
    margin-left:5px;
    margin-top:4px;
    cursor:pointer;
    position:relative;
}
.jj_cont li p {
    position:absolute;
    bottom:20px;
    font-size:13px;
    left:20px;
    color:#767575;
}
.three_tab {
    width:100%;
}
.three_nav {
    width:100%;
    height:56px;
    line-height:56px;
}
.three_nav ul li {
    width:230px;
    float:left;
    margin-left:2px;
    height:56px;
    line-height:56px;
    cursor:pointer
}

.three_nav ul li:hover {
    width:230px;
    float:left;
    margin-left:2px;
    background:#eee;
    height:56px;
    line-height:56px;
    cursor:pointer
}

.three_nav ul li img {
    float:left;
    margin-top:18px;
    margin-left:50px;
    margin-right:6px;
}
.zz_click {
    background:#fff !important;
}

.first_c {
    margin-top:15px;
}
.first_c p {
    width:100%;
    height:52px;
    line-height:52px;
}
.first_c p span {
    display:block;
    float:left;
    width:16px;
    color:#f00;
    font-size:18px;
    margin-left:50px;
}
.first_c p label {
    float:left;
    width:100px;
    color:#3d3f43;
    font-size:14px;

}
.first_c p img {
    float:left;
}
.first_c p b {
    color:#959595;
    font-size:12px;
    margin-left:20px;
    cursor:pointer
}
.first_c p input {
    width:217px;
    height:31px;
    border:1px solid #c1c1c1;
    padding-left:10px;
}
.ii_radio {
    width:20px !important;
    height:20px !important;
    float:left;
    margin-top:16px;
}
.first_c p strong {
    float:left;
}
.first_c p select {
    width:227px;
    height:31px;
    border:1px solid #c1c1c1;
}

.qrxg {
    float:left;
    cursor:pointer;
    margin-top:67px;
    margin-left:228px;
}
.tt_two {
    margin-top:58px;
}
.tt_two p {
    width:100%;
    height:52px;
    line-height:52px;
}
.tt_two p span {
    display:block;
    float:left;
    width:16px;
    color:#f00;
    font-size:18px;
    margin-left:160px;
}
.tt_two p label {
    float:left;
    width:120px;
    color:#3d3f43;
    font-size:14px;

}
.tt_two p input {
    width:217px;
    height:31px;
    border:1px solid #c1c1c1;
    padding-left:10px;
}
.tel_cc .tel_num{
    font-size:18px;
    width:490px;
    margin:0 auto;
    margin-top:80px;
    line-height:30px;
    color:#3d3f43;
    margin-bottom:60px;
}
.tel_cc .tel_num span {
    color:#f89618;
}
.tel_cc p span {
    display:block;
    float:left;
    width:16px;
    color:#f00;
    font-size:18px;
    margin-left:160px;
}
.tel_cc p label {
    float:left;
    width:120px;
    color:#3d3f43;
    font-size:14px;

}
.tel_cc p input {
    width:108px;
    height:31px;
    border:1px solid #c1c1c1;
    padding-left:10px;
    float:left;
    margin-top:10px;
}
.tel_cc p {
    width:100%;
    height:52px;
    line-height:52px;
}
.tel_cc p b {
    display:block;
    width:110px;
    height:33px;
    line-height:33px;
    text-align:center;
    font-size:12px;
    color:#fff;
    background:#075090;
    float:left;
    margin:10px 0 0 10px;
    cursor:pointer
}
.tel_cc p strong {
    width:108px;
    height:31px;
    line-height:31px;
    text-align:center;
    border:1px solid #bebebe;
    background:#eeeeee;
    color:#969696;
    display:block;
    font-size:12px;
    float:right;
    margin-top:10px;
    margin-right:40px;
    cursor:pointer;
}

.sx_sel {
    width:100%;
    height:30px;
    line-height:30px;
}
.sx_sel span {
    font-size:16px;
    color:#3d3f43;
    margin-left:30px;
    margin-right:6px;
}
.sx_sel select {
    width:230px;
    height:31px;
}

.table_list {
    width:635px;
    margin:0 auto;
    margin-top:28px;
    border:1px solid #eaeaea;
    float:left;
    margin-left:30px;
}
.table_list p {
    width:100%;
    height:41px;
    line-height:41px;
    background:#eaeaea;
}
.table_list p span {
    margin-left:20px;  
    color:#3d3f43;
    width: 200px;
    font-size: 14px; 
}
.table_list p label {
    width:200px;
    float:right;
}
.table_list ul {
    margin:10px 10px 10px 0;
    float:left;
}
.table_list ul li {
    font-size:12px;
    color:#767575;
    height:24px;
    line-height:24px;
}
.table_list ul li strong {
    margin-left:20px;
}



