@{
    ViewBag.Title = "会员详细信息";
    Layout = null;
}

<div class="container panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"><strong>基本信息</strong></div>
            @if(ViewBag .admin =="admin")
            {
            <div class="col-md-6 text-right"><button type="button" ng-show="isNotMembership" class="btn btn-primary text-right" ng-click="active()">激活银卡会员</button></div>
            }
        </div>
    </div>
</div>
<div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-default" ng-click="tabChange('user')">基本信息</button>
    <button type="button" class="btn btn-default" ng-click="tabChange('service')">服务记录</button>
    <button type="button" class="btn btn-default" ng-click="tabChange('score')">积分明细</button>
    <button type="button" class="btn btn-default" ng-click="tabChange('card')">卡券列表</button>
    <button type="button" class="btn btn-default" ng-click="tabChange('schedule')">预约记录</button>
    <button type="button" class="btn btn-default" ng-click="tabChange('approveImg')">凭证审核</button>

    <button type="button" class="btn btn-default" ng-click="tabChange('consume')">消费记录</button>
</div>
<div ng-switch on="tabSelection">
    <div ng-switch-when="user">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td>用户名</td>
                        <td ng-bind="membershipDetail.NickName"></td>
                        <td>真实姓名</td>
                        <td ng-bind="membershipDetail.RealName"></td>
                    </tr>
                    <tr>
                        <td>会员等级</td>
                        <td ng-bind="membershipDetail.MLevelName"></td>
                        <td>会员卡号</td>
                        <td ng-bind="membershipDetail.No"></td>
                    </tr>
                    
                    <tr>
                        <td>等级开始日期</td>
                        <td ng-bind="membershipDetail.strMLevelBeginDate"></td>
                        <td>等级截止日期</td>
                        <td ng-bind="membershipDetail.strMlevelInvalidDate"></td>
                    </tr>
                    <tr>
                        <td>电话</td>
                        <td ng-bind="membershipDetail.PhoneNumber"></td>
                        <td>手机号</td>
                        <td ng-bind="membershipDetail.PhoneNumber"></td>
                    </tr>
                    <tr>
                        <td>生日</td>
                        <td ng-bind="membershipDetail.Birthday"></td>
                        <td>证件号码</td>
                        <td ng-bind="membershipDetail.IdentityNumber"></td>
                    </tr>
                    <tr>
                        <td>绑定邮箱</td>
                        <td ng-bind="membershipDetail.Email"></td>
                        <td>入会时间</td>
                        <td ng-bind="membershipDetail.CreateTime"></td>
                    </tr>
                    
                    <tr>
                        <td>居住地址</td>
                        <td ng-bind="membershipDetail.Address"></td>
                        <td>最后登录</td>
                        <td ng-bind="membershipDetail.NewLoginTime"></td>
                    </tr>
                    <tr>
                        <td>头像</td>
                        <td ng-bind="membershipDetail.FaceImage"></td>
                        <td>性别</td>
                        <td ng-bind="membershipDetail.GenderName"></td>
                    </tr>
                    <tr>
                        <td>缴费状态</td>
                        <td ng-bind="membershipDetail.PayStatus" id="jiaofei"></td>
                        <td></td>
                        <td ng-bind="" id=""></td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td>主要联系方式</td>
                        <td ng-bind="membershipDetail.MainContact"></td>
                        <td>主要电话号码</td>
                        <td ng-bind="membershipDetail.MainTelePhone"></td>
                    </tr>
                    <tr>
                        <td>购车时间</td>
                        <td ng-bind="membershipDetail.TransactionTime"></td>
                        <td>固定电话</td>
                        <td ng-bind="membershipDetail.TelePhone"></td>
                    </tr>
                    <tr>
                        <td>职业</td>
                        <td ng-bind="membershipDetail.Industry"></td>
                        <td>职位</td>
                        <td ng-bind="membershipDetail.Job"></td>
                    </tr>
                    <tr>
                        <td>婚姻状况</td>
                        <td ng-bind="membershipDetail.IsMarriage"></td>
                        <td>婚姻纪念日</td>
                        <td ng-bind="membershipDetail.MarriageDay1"></td>
                    </tr>
                    <tr>
                        <td>教育程度</td>
                        <td ng-bind="membershipDetail.Educational"></td>
                        <td>备注</td>
                        <td ng-bind="membershipDetail.Remark"></td>
                    </tr>
                </table>
</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>认证爱车</h4></div>
            <div class="panel-body">
                <table class="table table-bordered" ng-repeat="car in cars">
                    <tr>
                        <td>车架号</td>
                        <td ng-bind="car.VIN"></td>
                        <td>车牌号</td>
                        <td ng-bind="car.LicencePlate"></td>
                    </tr>
                    <tr>
                        <td>爱车车型</td>
                        <td ng-bind="car.CarCategory"></td>
                        <td>购车年份</td>
                        <td ng-bind="car.BuyTimeYear"></td>
                    </tr>
                    <tr>
                        <td>购车特约店</td>
                        <td ng-bind="car.DealerName" ></td>
                        <td>车主类型</td>
                        <td ng-bind="car.accnttype"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-switch-when="service" ng-controller="MembershipServiceListCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="form" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="col-md-2 control-label">服务类型</label>
                        <div class="col-md-4 text-left">
                            <select class="form-control" ng-model="serviceTypeDw.select">
                                <option ng-repeat="it in serviceTypeDw.data" value="{{it.id}}">{{it.value}}</option>
                            </select>
                        </div>
                   
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit" ng-click="search()">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
            </div>
        </div>
    </div>
    <div ng-switch-when="score" ng-controller="MembershipScoreListCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                积分总值
            </div>
            <div class="panel-body">
                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="card" ng-controller="MembershipCardListCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="schedule" ng-controller="MembershipScheduleListCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
    @*<div ng-switch-when="approveImg" ng-controller="MembershipApproveProofCtrl">
        <div class="panel panel-default">
            <div class="panel-body" style="height:500px;overflow:hidden;">
                <div style="height:120px;width:280px; float:left; margin-top:20px;">
                    <label class="col-md-2 control-label" style="width:35%;float:none; padding-right: 0px;padding-left: 0px;"><span style="color:red">*</span>证件正面照:</label>
                    <div class="col-md-8" style="float: none;padding-right: 0px;padding-left: 0px; ">
                        <label class="form-control" ng-model="ProofData.ImageProofFront" ng-show="0" />
                        <img ng-src="{{ProofData.ImageProofFront}}" style="height: 100px; width: 200px" class="img-responsive">

                    </div>
                </div>
                <div style="height:120px;width:280px; float:left;margin-top:20px;">
                    <label class="col-md-2 control-label" style="width:35%;float:none; padding-right: 0px;padding-left: 0px;"><span style="color:red">*</span>证件反面照:</label>
                    <div class="col-md-8 " style="float: none; padding-right: 0px;padding-left: 0px;">
                        <label class="form-control" ng-model="ProofData.ImageProofVerso" ng-show="0" />
                        <img ng-src="{{ProofData.ImageProofVerso}}" style="height:100px; width:200px" class="img-responsive">
                    </div>
                </div>
                <div style="height:120px;width:280px; float:left;margin-top:20px;">
                    <label class="col-md-2 control-label" style="width:40%;float:none; padding-right: 0px;padding-left: 0px;"><span style=" color:red">*</span>手持证件头部照:</label>
                    <div class="col-md-8" style="float: none;padding-right: 0px;padding-left: 0px; ">
                        <label class="form-control" ng-model="ProofData.ImageProofByHand" ng-show="0" />
                        <img ng-src="{{ProofData.ImageProofByHand}}" style="height:100px; width:200px" class="img-responsive">
                    </div>
                </div>
                <a href="javascript:return void()" ng-click="UpdateStuatus()" ng-show="ProofData.ApproveStatus==0" class="btn btn-primary" style="display: block; margin-top: 200px; width: 200px; margin: 220px auto 0;" id="UpdateStuatusbtn">确认</a>
            </div>
        </div>
    </div>*@
    <div ng-switch-when="consume" ng-controller="MembershipConsumeListCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    $(function () {
      
        var va = $("#jiaofei").text();
        if (va == "1") {
            $("#jiaofei").html("已缴费");
        }
        else if (va == "2") {
            $("#jiaofei").html("用户已提交支付");
        } else {
            $("#jiaofei").html("未支付");
        }

    });
</script>