@{
    ViewBag.Title = "身份凭证管理";
    Layout = null;
}
@using Microsoft.AspNet.Identity;
<script type="text/javascript">
    $(function() {
        //延迟500毫秒用户级别中“索九会员“隐藏
        setTimeout(function() {
            $("select[ng-model='mLevelDw.select']").find("option[value='9']").hide();
            $("select[ng-model='mLevelDw.select']").find("option[value='0']").hide();
        }, 500);
    })
</script>
<style>
    body {
        display: none;
    }
</style>

<script>

    $(function () {
        if (self == top) {
            var theBody = document.getElementsByTagName('body')[0];
            theBody.style.display = "block";
        } else {
            top.location = self.location;
        }
    });


</script>
<div class="container panel panel-default">
    <div class="panel-body">
        <strong>身份凭证管理</strong>
    </div>
</div>
@*<input type="hidden" value="@ViewBag.DealerId" id="ce" />*@
<div class="container panel panel-default">

    <div class="panel-body">
        <form name="form" class="form-horizontal" novalidate>
            <div class="form-group">

                <label class="col-md-2 control-label">手机号</label>
                <div class="col-md-4 text-left">
                    <input class="form-control" type="text" ng-model="phoneNumber" />
                </div>
                <label class="col-md-2 control-label">会员等级</label>
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="mLevelDw.select">
                        @*<option ng-repeat="it in mLevelDw.data" value="{{it.id}}">{{it.value}}</option>*@
                        <option value="" selected="selected">请选择</option>
                        <option value="1">注册用户</option>
                        <option value="10">普卡用户</option>
                        <option value="11">银卡用户</option>
                        <option value="12">金卡用户</option>
                    </select>

                </div>

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">证件类型</label>
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="mPaperWork.select">
                        <option value="" selected="selected">请选择</option>
                        <option value="1">身份证</option>
                        <option value="2">护照</option>
                        <option value="3">军官证</option>
                    </select>
                </div>
                <label class="col-md-2 control-label">证件号</label>
                <div class="col-md-4 text-left">
                    <input class="form-control" type="text" ng-model="identityNumber" />
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">审核状态</label>
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="isProofed.select">
                        <option value="" selected="selected">全部</option>
                        <option value="0">未审核</option>
                        <option value="1">审核通过</option>
                        <option value="2">审核未通过</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">提交时间</label>
                <div class="col-md-2 text-left">
                    <input class="form-control datepicker" ng-model="beginTime" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-2 text-left">
                    <input class="form-control datepicker" ng-model="endTime" data-date-format="yyyy-mm-dd">
                </div>
            </div>

            <script type="text/javascript">
                $('.datepicker').datepicker();
            </script>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" type="submit" ng-click="search()">查询</button>
                    <button class="btn btn-primary" type="button" ng-click="deleteAll()">删除</button>
                    <a class="btn btn-primary" href="/Membership/ExportProofList?phone={{phoneNumber}}&mlevel={{mLevelDw.select}}&paperwork={{mPaperWork.select}}&IdentityNumber={{identityNumber}}&status={{isProofed.select}}&StrCreateTime={{beginTime}}&StrEnd={{endTime}}&pageCount={{50000}}&currentPage={{1}}">导出</a>
                </div>

                
            </div>
           
        </form>
        

        <div class="row">
            <div class="col-md-12">
                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="UserProofInfo" tabindex="-1" role="dialog" aria-labelledby="UserProofInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="UserPasswordModal">用户凭证图片</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="overflow:hidden;">
                    <div style="height:300px;width:600px; float:left; ">
                        <label class="col-md-2 control-label" style="width:35%;float:none; padding-right: 0px;padding-left: 0px;"><span style="color:red">*</span>证件正面照:</label>
                        <div class="col-md-8" style="float: none;padding-right: 0px;padding-left: 0px; ">
                            <label class="form-control" ng-model="ProofData.ImageProofFront" ng-show="0" />
                            <img ng-src="{{ProofData.ImageProofFront}}" style="height:300px;width:550px; ">
                        </div>
                    </div>
                    <div style="height:300px;width:600px; float:left;margin-top:30px;">
                        <label class="col-md-2 control-label" style="width:35%;float:none; padding-right: 0px;padding-left: 0px;"><span style="color:red">*</span>行驶证正面照:</label>
                        <div class="col-md-8 " style="float: none; padding-right: 0px;padding-left: 0px;">
                            <label class="form-control" ng-model="ProofData.ImageProofVerso" ng-show="0" />
                            <img ng-src="{{ProofData.ImageProofVerso}}" style="height:300px;width:550px; " >
                        </div>
                    </div>
                    <div style="height:300px;width:600px; float:left;margin-top:30px;">
                        <label class="col-md-2 control-label" style="width:40%;float:none; padding-right: 0px;padding-left: 0px;"><span style=" color:red">*</span>手持证件头部照:</label>
                        <div class="col-md-8" style="float: none;padding-right: 0px;padding-left: 0px; ">
                            <label class="form-control" ng-model="ProofData.ImageProofByHand" ng-show="0" />
                                <img ng-src="{{ProofData.ImageProofByHand}}" style="height:300px;width:550px;" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
