
@{
    ViewBag.Title = "权限- 权限管理";
}

@Scripts.Render("~/Scripts/Manage/Function.js")
@Scripts.Render("~/Scripts/Manage/AddFunction.js")
@Scripts.Render("~/Scripts/Manage/EditFunction.js")
<div class="g_page_content"><div id="listA"></div></div>

