@{
    Layout = null;
}
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div>
    <div>
        尊敬的第九代索纳塔车主您好，现在您只需缴纳100元会费即可升级为bluemembers银卡会员，成为银卡会员后即可拥有价值400元的消费积分及七项第九代索纳塔车主专享服务。
    </div>
    <div>
        <span>
            <a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.YYWYh4&id=44232536739" id="btnMycenterInputPayNumberToActive" target="_blank">输入激活码，成为会员</a>
        </span>
        <span>
            <a href="javascript:void(0);" id="btnMycenterApplyMemberToDealer" onclick="Sonata.applyMemberToDealerSave();">向特约店申请，成为会员</a>
        </span>
    </div>
    <div>
        <span>
            <input type="hidden" id="mycenter_carowneractive_layer_layIndex" />
            <a href="javascript:void(0);">
                @*暂时不考虑成为尊享会员*@
            </a>
        </span>
    </div>
</div>