@{
    Layout = null;
}

<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div style="display:none" class="tt_two">
    <p>
        <span>*</span>
        <label>手机号码：</label>
        <input type="text" id="mycenterresetpasswdmobile" name="mycenterresetpasswdmobile" placeholder="手机号码" />
    </p>
    <p>
        <span>*</span>
        <label>图形验证码：</label>
        <input type="text" style="width:130px;" id="mycenterresetpasswdImageCode" name="registerImageCode" placeholder="图形验证码" />
        <img src="/img/h_lock.png" style="margin-left:-20px;" />
        <img src="/ValidateCode/Index?ID=1" style="margin-left: 20px; top: 8px; position: relative; " id="imgCode" alt="单击可刷新" onclick="clickRemoveChangeCode()" />
        <span id="registerImageCodeerrored" style="display: none; position: relative; left: 12px; top: 5px; " class="error_red">输入图形验证码</span>
    </p>
    <p>
        
        <span>*</span><label>输入验证码：</label>
        <input type="text" id="mycenterresetpasswdcaptcha">
        <a id="mycenterresetpasswdsendcaptcha" class="reSend" href="javascript:void(0);">获取验证码</a>        
    </p>
    <p><span>*</span><label>新密码：</label><input placeholder="新密码" type="password" id="mycenterresetpasswdpasswd" name="mycenterresetpasswdpasswd" /></p>
    <p><span>*</span><label>确认密码：</label><input placeholder="新密码" type="password" id="mycenterresetpasswdconfirmpasswd" name="mycenterresetpasswdconfirmpasswd" /></p>

    <img id="mycenterresetpasswdsave" src="/img/queding.png" class="qrxg" />
</div>