@model   List<Vcyber.BLMS.Entity.UserCustomCardModel>
@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ViewBag.Title = "使用说明";
}
@using System.Configuration;
<!--个人中心-->
<link href="~/css/base/information.css" rel="stylesheet" />
<link href="~/css/base/dd.css" rel="stylesheet" />
<style>
    .coupUseBox {
        position: relative;
        margin: 20px;
        width: 653px;
        min-height: 580px;
    }

        .coupUseBox li {
            padding: 12px 35px 14px 35px;
            width: 583px;
            font-size: 14px;
            color: #3d3f43;
            border-bottom: 1px solid #eee;
            background: url(img/coupDot.jpg) no-repeat 16px 21px;
        }

            .coupUseBox li a {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 20px;
            }

                .coupUseBox li a:hover {
                    color: #075090;
                    text-decoration: underline;
                }

    .coupBtnSelBox {
        position: relative;
        margin-left: 16px;
        width: 660px;
        overflow: hidden;
    }

        .coupBtnSelBox a {
            position: relative;
            display: block;
            float: left;
            width: 100%;
            height: 84px;
            background: #eee;
            margin-left: 4px;
        }

            .coupBtnSelBox a i {
                display: block;
                position: relative;
                margin: 14px auto 0 auto;
            }

                .coupBtnSelBox a i.CoupRule {
                    width: 25px;
                    height: 35px;
                    background: url(img/coupRule.jpg) no-repeat;
                }

                .coupBtnSelBox a i.coupExchange {
                    width: 33px;
                    height: 33px;
                    background: url(img/coupExchange.jpg) no-repeat;
                }

            .coupBtnSelBox a span {
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #767575;
                display: block;
            }

    .coupDetBox h2 {
        position: relative;
        width: 100%;
        margin-top: 32px;
        height: 32px;
        text-align: center;
        color: #3d3f43;
        font-size: 14px;
    }

    .coupDetBox h3 {
        position: relative;
        width: 175px;
        height: 173px;
        background: url(img/bgCode.jpg) no-repeat;
        margin: 0 auto;
    }

        .coupDetBox h3 span {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -69px;
            margin-top: -71px;
            display: block;
            width: 121px;
            height: 121px;
            padding: 8px;
            border: 2px solid #78b3d5;
        }

            .coupDetBox h3 span img {
                width: 100%;
                height: 100%;
            }

    .coupDetBox h4 {
        position: relative;
        width: 100%;
        margin-top: 21px;
        margin-bottom: 30px;
        color: #075090;
        font-size: 14px;
        text-align: center;
    }

    .coupDetBox p {
        color: #3d3f43;
        font-size: 14px;
        line-height: 28px;
        overflow: hidden;
    }

        .coupDetBox p span {
            display: inline-block;
            width: 108px;
            float: left;
        }

        .coupDetBox p em {
            display: inline-block;
            width: 530px;
            float: left;
        }
</style>
<div>
    <div class="heaer">
        @Html.Action("HomeHeader", "Header", new { pageName = "Mycenter" })
    </div>
    <div class="content">
        <div class="n_all_cont">
            <div class="n_left_cont">
                @Html.Partial("_PartialUserInfo", ViewData["curUserEntity"])
                @Html.Partial("_PartialMyWallet", ViewData["curUserEntity"])
            </div>
            <div class="n_right_cont">
                <div class="geren_box couConBox">
                    <div class="gy_title">
                        <div class="gy_zi">
                            <h1>使用说明</h1>
                            <span>Instructions</span>
                        </div>
                    </div>
                    <!--卡券列表页-->
                    <div class="coupUseBox">
                        <ul>
                            <li><a href="javascript:;">基础保养兑换券使用规则</a></li>
                            <li><a href="javascript:;">2瓶玻璃水使用规则</a></li>
                            <li><a href="javascript:;">1L机油兑换券使用规则</a></li>
                            <li><a href="javascript:;">4L机油8.5折代金券使用规则</a></li>
                        </ul>
                    </div>

                    <!--按钮-->
                    <div class="coupBtnSelBox">
                        <a href="javascript:;">
                            <i class="CoupRule"></i>
                            <span>卡券使用规则</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        @Html.Action("Index", "Footer")
    </div>
</div>
