@{
    Layout = null;
}
<style>
    body {
        display: none;
    }
</style>

<script>

    $(function () {
        if (self == top) {
            var theBody = document.getElementsByTagName('body')[0];
            theBody.style.display = "block";
        } else {
            top.location = self.location;
        }
    });


</script>
<div class="container panel panel-default">
    <div class="panel-body"><strong>发送短信历史记录</strong></div>
</div>

<!--主页面-->
<div class="container panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">手机号：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="手机号" ng-model="formData.UserName" />

                        <label class="col-md-2 control-label">是否已发送：</label>
                        <select class="col-md-2 form-control" ng-model="selectIsOpen">
                            <option value="">全部</option>
                            <option value="Y">已发送</option>
                            <option value="N">等待中</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">短信任务开始时间：</label>
                        <input class="col-md-2 form-control datepicker" placeholder="短信任务开始时间" data-date-format="yyyy-mm-dd" ng-model="formData.Start" />
                        <label class="col-md-2 control-label">短信任务结束时间：</label>
                        <input class="col-md-2 form-control datepicker" placeholder="短信任务结束时间" data-date-format="yyyy-mm-dd" ng-model="formData.End" />
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">任务名称：</label>
                        <input class="col-md-2 form-control" type="text" placeholder="任务名称" ng-model="formData.ServiceTitle" />

                        <label class="col-md-2 control-label">适用车型：</label>
                        <select class="col-md-2 form-control" ng-model="formData.SelectCarType">
                            <option value="">全部</option>
                            <option value="索纳塔9">第九代索纳塔</option>
                            <option value="全新途胜">全新途胜</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary col-md-offset-2" type="button" ng-click="search()" value="查询" />
                    </div>

                    <script type="text/javascript">
                        $('.datepicker').datepicker();
                    </script>
                </form>

                <div class="gridStyle" style="height: 410px; border: 1px solid rgb(212,212,212)" ng-grid="gridOptions"></div>
            </div>
        </div>
    </div>
</div>