
@{
    Layout = null;
}

<head>
    <style>
        body {
            display: none;
        }
    </style>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>

<div class="container panel panel-default">
    <div class="panel-body"><strong>内容管理 - 审批管理</strong></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <span class="col-md-6">审批管理</span>
        </div>
    </div>
    <div class="panel-body">
        <form name="form" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">审批类型:</label>
                <div class="col-md-3 text-left">
                    <select class="form-control" ng-model="approveType.select">
                        <option ng-repeat="it in approveType.data" value="{{it.id}}">{{it.value}}</option>
                    </select>
                </div>
                <label id="sp" class="col-md-2 control-label">审批状态:</label>
                <div class="col-md-3 text-left">
                    <select class="form-control" ng-model="approveStatus.select">
                        <option ng-repeat="it in approveStatus.data" value="{{it.id}}">{{it.value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" type="submit" ng-click="search()">查询</button>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-md-2 control-label">审批类型：</label>
                    <div class="col-md-3 text-left">
                        <select ng-model="selected" class="form-control" ng-options="m.id as m.value for m in approveType">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                    <div class="col-md-3 text-left">
                        <select ng-model="selected" class="form-control" ng-options="m.id as m.value for m in approveStatus">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                    <div class="col-md-4 ">
                        <button class="btn btn-primary" type="submit" ng-click="search()">查询</button>
                    </div>
                </div>*@
        </form>
        <div class="gridStyle" style="min-height: 410px; border: 1px solid rgb(212, 212, 212)" ng-grid="gridOptions">
        </div>
    </div>
</div>
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="approveModal">审批</h4>
            </div>
            <form class="form-horizontal" name="form" ng-submit="UpdateApproval(form.$valid)" novalidate>
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-2 control-label">审批状态:</label>
                            <div class="col-md-8">

                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadios" value="1" ng-model="selectItem.IsApproved">
                                    审核通过
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadios" value="2" ng-model="selectItem.IsApproved">
                                    审核未通过
                                </label>
                            </div>

                          </div>
                        <div class="form-group">
                            <label class="col-md-3 text-danger" ng-show="alert">    请选择审批状态</label>
                        </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">更新原因:</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="reason" ng-model="selectItem.ApprovalMemo" ng-required="true" ng-maxlength="100"/>
                                    <span ng-show="form.reason.$invalid">不能为空,100个字符内</span>

                                </div>
                            </div>

                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

