
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481806626151'); /* IE9*/
  src: url('iconfont.eot?t=1481806626151#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481806626151') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481806626151') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481806626151#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzhonghao:before { content: "\e664"; }

.icon-xiaoxi:before { content: "\e66b"; }

.icon-xiaoxi1:before { content: "\e6d5"; }

.icon-appxiazai:before { content: "\e63e"; }

