@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "注册";
}

@*<script src="~/Scripts/user.doregister.js"></script>*@
<head>
    <title>用户注册</title>
</head>
<style>
    #PaperWork {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        font: 14px "微软雅黑";
        height: 30px;
        outline: medium none;
        padding: 0 2%;
        width: 100%;
    }
</style>
<script>
    function isChk() {
        var hasChk = $('#MType').is(':checked')
        if (hasChk) {
            $('#PaperWork').show();
            $("#divIdentityNumber").show();
        } else {
            $("input[name='IdentityNumber']").val("");
            $("#divIdentityNumber").hide();
            $('#PaperWork').hide();
        }
    }
</script>
@*<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0b4e366e453f3524b50e08dc17833d51";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>*@
<div class="wrapper global-wrapper clearfix" id="wrapper">
    <div class="logo">
        <img src="~/img/NewImg/lanbing_logo.png" />
    </div>
    <div class="form-box">
        <form id="mainForm" method="post">
            @*<input type="hidden" name="openId" value="@ViewBag.OpenId" />*@
            <div class="form-row">
                <input type="tel" id="Mobile" name="Mobile" placeholder="手机号" class="global-ipt" autocomplete="off" />
            </div>
            <div class="form-row">
                <input type="text" name="VerCode" id="VerCode" placeholder="图形验证码" class="global-ipt code-ipt" autocomplete="off" />
                <span class="code-num">
                    <img id="getcode" class="code-num" src="@Url.Content("~/VerifyCodeHandler.ashx")" alt="图形验证码"
                         onclick="document.getElementById('getcode').src='@Url.Content("~/VerifyCodeHandler.ashx")?temp='+ (new Date().getTime().toString(36)); return false" />
                </span>
            </div>
            <div class="form-row">
                <input type="text" name="Captcha" id="Captcha" placeholder="验证码" class="global-ipt code-ipt" autocomplete="off" />
                <span class="code-num">
                    <input type="button" id="btnSendVerCode" autocomplete="off" value="发送验证码" />
                    <em class="lanbing_telbtn" id="sysj" style="display:none"></em>
                </span>
            </div>
            <div class="form-row">
                <input type="password" id="Password" name="Password" placeholder="请设置密码" class="global-ipt" autocomplete="off" />
                <span style="font-size: 0.8em">密码需包含大小写字母、数字，且长度在8-12位</span>
            </div>
            <div class="form-row">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="请确认密码" class="global-ipt" autocomplete="off" />
            </div>
            <div class="form-row">
                <input type="checkbox" id="MType" name="MType" autocomplete="off" onclick="isChk()" />我是车主
            </div>
            <select name="PaperWork" id="PaperWork" style="display:none">
                <option value="1">身份证</option>
                <option value="2">护照</option>
                <option value="3">军官证</option>
            </select>
            <div id="divIdentityNumber" class="form-row" style="display:none">
                <input type="text" id="IdentityNumber" name="IdentityNumber" autocomplete="off" value="" placeholder="英文字母注意大写" class="global-ipt" />
                <span style="font-size: 0.8em;color: #a0a0a0;">为便于匹配到您的车辆信息，请填写您购车时提供的证件号码。</span>
                @*<input type="checkbox" id="M9Type" name="M9Type" />我是索九车主*@
            </div>
            <div id="errorContainer" class="form-row form-reg-tips"></div>
            <div class="form-row">
                <input type="checkbox" id="regAgree" autocomplete="off" name="regAgree" checked="checked" />
                我已阅读并同意bluemembers会员章程及<a href="@Url.Action("RegisterStatement")">免责条款</a>
            </div>
            <div class="form-row">
                <div id="btn_commit" value="注册" class="global-reg-btn">注册</div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        //发送手机验证码
        //var is_request_valid_code = false;
        $("#btnSendVerCode").click(function () {
            //if (!is_request_valid_code) {                    
            var mobile = $("#Mobile").val();
            var code = $("#VerCode").val();
            if (!mobile) {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>手机号码不能为空</span>'
                });
                //is_request_valid_code = false;
                return false;
            }
            var reg = /^[1][3587][0-9]{9}$/;
            if (!reg.test(mobile)) {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>手机格式不正确</span>'
                });
                //is_request_valid_code = false;
                return false;
            }
            //if ($(this).attr("disabled")) {
            //    is_request_valid_code = false;
            //    return false;
            //}
            if ($(this).attr("disabled")) {
                return false;
            }
            $(this).attr("disabled", "");

            $("#btnSendVerCode").css('display', 'none');
            //倒计时60s
            $("#sysj").css('display', 'block');
            var t = 60;
            if (t > 0)
                var timer = setInterval(function () {
                    if (t > 0) {
                        t--;
                        $("#sysj").html(t + "秒");
                    }
                    else {
                        clearInterval(timer);
                        $("#sysj").hide();
                        $("#btnSendVerCode").show();

                    }
                }, 1000);

            //发送验证码
            $.ajax({
                url: "/Account/SendCaptchaAndCheckImageCode",
                dataType: "json",
                type: "post",
                data: { mobile: mobile, imageCode: code },
                success: function (result) {
                    if (!result || result.code == "400") {
                        layer.open({
                            type: 1,
                            skin: 'bmPopErr',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>' + result.msg + '</span>'
                        });
                        return false;
                    }
                    else if (!result || result.code == "401") {
                        layer.open({
                            type: 1,
                            skin: 'bmPopErr',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>图形验证码输入错误</span>'
                        });
                        return false;
                    }
                    else if (result.code == "200") {
                        //更新剩余时长
                        //countDown(this, 60);
                        layer.open({
                            type: 1,
                            skin: 'bmPopErr',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>短信验证码已发送</span>'
                        });

                        //$("#btnSendVerCode").css('display', 'none');
                        ////倒计时60s
                        //$("#sysj").css('display', 'block');
                        //var t = 60;
                        //if (t > 0)
                        //    var timer = setInterval(function () {
                        //        if (t > 0) {
                        //            t--;
                        //            $("#sysj").html(t + "秒");
                        //        }
                        //        else {
                        //            clearInterval(timer);
                        //            $("#sysj").hide();
                        //            $("#btnSendVerCode").show();

                        //        }
                        //    }, 1000);
                    }
                },
                error: function (err) {
                    layer.open({
                        type: 1,
                        skin: 'bmPopErr',
                        title: 0,
                        shift: 2,
                        closeBtn: 0,
                        shadeClose: true,
                        area: ['5.4rem', '3.23rem'],
                        btn: ['确定'],
                        content: '<img src="../img/boy_err.png" /><span>err</span>'
                    });
                }
            });
            $(this).removeAttr("disabled");
            //}
        });

        //注册
        $("#btn_commit").click(function () {

            if ($(this).hasClass("isenableclick")) {
                return false;
            }
            var mobile = $("#Mobile").val();
            var captcha = $("#Captcha").val();//手机短信验证码
            var passwd = $("#Password").val();
            var repasswd = $("#ConfirmPassword").val();
            var registerImgCaptcha = $("#VerCode").val();//图形验证码
            var nickname = "vip" + mobile.substring(5, 11);//暂时生成呢称
            var paperwork = $("#PaperWork").val();//证件类型

            var identityno = $("#IdentityNumber").val();//证件号码
            //var sltProvince = $("#sltProvince").val();
            //var sltCity = $("#sltCity").val();
            //var sltDealer = $("#sltDealer").val();
            //var accountPayNumber = $("#accountPayNumber").val();
            //var _payType = $("#accountActivityType").val();
            //var registerVIN = $("#registerVIN").val();
            //var registerVIN = "";
            //var returnUrl = $("#returnUrl").val();
            //var source = $("#source").val();
            var returnUrl = "/Account/MessageCenter";
            if (mobile == null || mobile == "") {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>请输入手机号</span>'
                });
                return false;
            }
            if (captcha == null || captcha == "") {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>请输入短信验证码</span>'
                });
                return false;
            }

            if (registerImgCaptcha == null || registerImgCaptcha == "") {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>请输入图片验证码</span>'
                });
                return false;

            }

            var passReg = /^(?=.*[0-9].*)(?=.*[A-Z].*)(?=.*[a-z].*).{8,100}$///匹配必须包含数字大小写字母 长度为8-100
            if (passwd != "" && passwd.length < 8 || !passReg.test(passwd)) {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>密码必须8位以上数字和大小写字母组合</span>'
                });
                return false;
            }
            if (passwd == null || passwd == "" || repasswd == null || repasswd == "" || passwd != repasswd) {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>两次密码不一致</span>'
                });
                return false;
            }
            if ($("#regAgree").is(":checked") == false)
            {
                layer.open({
                    type: 1,
                    skin: 'bmPopErr',
                    title: 0,
                    shift: 2,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['5.4rem', '3.23rem'],
                    btn: ['确定'],
                    content: '<img src="../img/boy_err.png" /><span>请阅读会员章程及免责条款</span>'
                });
                return false;
            }

            //customerType默认为-1，身份证类型为1，组织机构代码为2
            var customerType = 1;
            var identityReg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            var isCarOwner = 1;
            if ($("#MType").is(":checked")) {
                isCarOwner = 2;
                //if ($("#registerIdentityNo_account_radio").is(":checked")) {
                if (!paperwork || paperwork < 0) {
                    layer.open({
                        type: 1,
                        skin: 'bmPopErr',
                        title: 0,
                        shift: 2,
                        closeBtn: 0,
                        shadeClose: true,
                        area: ['5.4rem', '3.23rem'],
                        btn: ['确定'],
                        content: '<img src="../img/boy_err.png" /><span>请选择证件类型</span>'
                    });
                    return false;
                }

                if (identityno == null || identityno == "") {
                    layer.open({
                        type: 1,
                        skin: 'bmPopErr',
                        title: 0,
                        shift: 2,
                        closeBtn: 0,
                        shadeClose: true,
                        area: ['5.4rem', '3.23rem'],
                        btn: ['确定'],
                        content: '<img src="../img/boy_err.png" /><span>请输入证件号</span>'
                    });
                    return false;
                }
                if ($("#MType").is(":checked")) {
                    if (1 == paperwork) {
                        identityReg = /(^\d{15}$)|(^\d{17}([0-9]|X)$)/;
                        if (!identityReg.test(identityno)) {
                            layer.open({
                                type: 1,
                                skin: 'bmPopErr',
                                title: 0,
                                shift: 2,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['5.4rem', '3.23rem'],
                                btn: ['确定'],
                                content: '<img src="../img/boy_err.png" /><span>请正确输入证件号码</span>'
                            });
                            return false;
                        }
                    }
                    if (2 == paperwork) {
                        identityReg = /^[a-zA-Z0-9]{3,21}$|^(P\d{7})|(G\d{8})$/;
                        if (!identityReg.test(identityno)) {
                            layer.open({
                                type: 1,
                                skin: 'bmPopErr',
                                title: 0,
                                shift: 2,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['5.4rem', '3.23rem'],
                                btn: ['确定'],
                                content: '<img src="../img/boy_err.png" /><span>请正确输入证件号码</span>'
                            });
                            return false;
                        }
                    }
                    if (3 == paperwork) {
                        identityReg = /^[a-zA-Z0-9]{7,21}$/;
                        if (!identityReg.test(identityno)) {
                            layer.open({
                                type: 1,
                                skin: 'bmPopErr',
                                title: 0,
                                shift: 2,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['5.4rem', '3.23rem'],
                                btn: ['确定'],
                                content: '<img src="../img/boy_err.png" /><span>请正确输入证件号码</span>'
                            });
                            return false;
                        }
                    }
                }
            }
            else {
                identityno = "";
                //sltDealer = "";
                paperwork = "";
            }

            //User.Register(mobile, captcha, passwd, repasswd, nickname, identityno, sltDealer, isCarOwner, _payType, accountPayNumber, registerVIN, customerType, paperwork, returnUrl, source, registerImgCaptcha);
            //正式注册
            $.ajax({
                //此处注册调用的是api中的接口
                url: "/Account/DoRegister_Vip",
                type: "post",
                data: { Mobile: mobile, NickName: nickname, Captcha: captcha, IdentityNumber: identityno, Password: passwd, ConfirmPassword: repasswd, ActivedealerId: "", MType: isCarOwner, ActivityType: "", PayNumber: "", VIN: "", customerType: customerType, PaperWork: paperwork, returnUrl: returnUrl, Source: "", ImgCaptcha: registerImgCaptcha },
                dataType: "json",
                success: function (result) {
                    if (result == null || result.code == "" || result.code == "400" || result.code == "401" || result.code == "402") {
                        layer.open({
                            type: 1,
                            skin: 'bmPopErr',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>' + result.msg + '</span>'
                        });
                        return false;
                    }
                    //注册成功
                    if (result.code == "200") {
                        if (result.Mtype == 1) {
                            layer.open({
                                type: 1,
                                skin: 'bmPop',
                                title: 0,
                                shift: 2,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['5.4rem', '3.23rem'],
                                btn: ['确定'],
                                content: '<img src="../img/boy1.png" /><span>您好，绑定车辆享受更多会员权益！请在个人中心进行车辆绑定</span>'
                            });
                            window.location = "/MyCenter/Index";
                            return false;
                        }
                        if (result.Mtype == 2 && result.HasCar == 0) {
   
                            layer.open({
                                type: 1,
                                skin: 'bmPopErr',
                                title: 0,
                                shift: 2,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['5.4rem', '3.23rem'],
                                btn: ['确定'],
                                content: '<img src="../img/boy_err.png" /><span>很抱歉，您的身份未绑定成功，请联系bluemembers在线客服</span>'
                            });
                            window.location = "/MyCenter/Index";
                            return false;
                        }
                        /// popWindownBlue( "恭喜您已成功注册成为bluemembers普通会员。");
                        if (result.ReIntegralType == -1) {
                            
                            window.location = "/MyCenter/Index";

                        }
                        if (result.ReIntegralType == 0) {
                            
                            $("#reIntegralmsg").val("您交费100元即可获得价值400元积分");
                            $("#reIntegralmsg").css("display", "block");
                            //$("#account_AccountRegisterIsSonataUser").show();
                            window.location = "/MyCenter/Index";
                        }
                        if (result.ReIntegralType == 1) {
                            
                            $("#reIntegralmsg").val("您交费100元即可获得价值700元积分");
                            $("#reIntegralmsg").css("display", "block");
                            //$("#account_AccountRegisterIsSonataUser").show();
                            window.location = "/MyCenter/Index";
                        }
                        if (result.ReIntegralType == 2) {
                            
                            $("#reIntegralmsg").val("您交费50元即可获得价值200元积分");
                            $("#reIntegralmsg").css("display", "block");
                            //$("#account_AccountRegisterIsSonataUser").show();
                            $('#btnInputPayNumberToRegisterVip').attr('href', 'https://detail.tmall.com/item.htm?spm=a1z10.4-b.w5003-12994442256.2.cmKogk&id=533870432232&rn=eff56e7365ac38eb25caa9cacf22327b&abbucket=5&skuId=3184550976675&scene=taobao_shop');
                            window.location = "/MyCenter/Index";
                        }
                        if (result.ReIntegralType == 3) {
                            
                            $("#reIntegralmsg").val("您交费50元即可获得价值400元积分");
                            $("#reIntegralmsg").css("display", "block");
                            //$("#account_AccountRegisterIsSonataUser").show();
                            $('#btnInputPayNumberToRegisterVip').attr('href', 'https://detail.tmall.com/item.htm?spm=a1z10.4-b.w5003-12994442256.2.cmKogk&id=533870432232&rn=eff56e7365ac38eb25caa9cacf22327b&abbucket=5&skuId=3184550976675&scene=taobao_shop');
                            window.location = "/MyCenter/Index";
                        }
                        return false;
                    }
                    if (result.code == "301") {
                        
                        //popWindownBlue(result.msg);
                        layer.open({
                            type: 1,
                            skin: 'bmPopErr',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>' + result.msg + '</span>'
                        });
                        var iLeft = (window.screen.width - 960) / 2;
                        window.open('/DealerNear/AlertDealerInfo', 'newwindow', 'height=600, width=850, top=100, left=' + iLeft + ', toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
                        setTimeout(function () {
                            window.location = "/MyCenter/Index";
                            return false;
                        }, 5000);
                        //301提示未匹配到您的车辆，请拨打客服电话
                        return false;
                    }
                    if (result.code == "302") {
                        
                        //找
                        popWindownBlue("恭喜您已成功注册成为bluemembers普通会员。");
                        layer.open({
                            type: 1,
                            skin: 'bmPop',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>恭喜您已成功注册成为bluemembers普通会员。</span>'
                        });
                        var iLeft = (window.screen.width - 960) / 2;
                        window.open('/DealerNew/AlertDealerInfo', 'newwindow', 'height=600, width=850, top=100, left=' + iLeft + ', toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
                        window.location.href = "/Sonata/SonataActive";
                        return false;
                    }

                    if (result.code == "801") {
                        
                        //popWindownBlue("注册成功" + result.msg);
                        layer.open({
                            type: 1,
                            skin: 'bmPop',
                            title: 0,
                            shift: 2,
                            closeBtn: 0,
                            shadeClose: true,
                            area: ['5.4rem', '3.23rem'],
                            btn: ['确定'],
                            content: '<img src="../img/boy_err.png" /><span>' + '注册成功' + result.msg + '</span>'
                        });
                        if (returnUrl !== null && returnUrl !== "") {
                            alert(12);
                            window.location = returnUrl;
                            return false;
                        }
                        setTimeout(function () {
                            window.location = "/MyCenter/Index";
                            return false;
                        }, 5000);
                        return false;
                    }

                },
                error: function (err) {
                    //popWindownBlue("系统异常！");
                    alert(13);
                    layer.open({
                        type: 1,
                        skin: 'bmPopErr',
                        title: 0,
                        shift: 2,
                        closeBtn: 0,
                        shadeClose: true,
                        area: ['5.4rem', '3.23rem'],
                        btn: ['确定'],
                        content: '<img src="../img/boy_err.png" /><span>系统异常！</span>'
                    });
                    //网络超时
                    return false;
                }
            });
        });
    })
</script>
