@{
    Layout = null;
}
<style>
    body {
        display: none;
    }
</style>

<script>

    $(function () {
        if (self == top) {
            var theBody = document.getElementsByTagName('body')[0];
            theBody.style.display = "block";
        } else {
            top.location = self.location;
        }
    });


</script>
<div class="container panel panel-default">
    <div class="panel-body"><strong>内容管理 - 报刊</strong></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <span class="col-md-6">报刊管理</span>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary" ng-click="create()">添加</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="form" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">所属年份：</label>
                <div class="col-md-3 text-left">
                    <input class="form-control" type="text" ng-model="year"/>
                </div>


                <label class="col-md-2 control-label">所属月份：</label>
                <div class="col-md-3 text-left">
                    <input class="form-control" type="text" ng-model="month"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">报刊标题：</label>
                <div class="col-md-3 text-left">
                    <input class="form-control" type="text" ng-model="title"/>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" type="submit" ng-click="search()">查询</button>
                </div>
            </div>
        </form>
        <div class="gridStyle" style="min-height: 410px; border: 1px solid rgb(212, 212, 212)" ng-grid="gridOptions">
        </div>
    </div>

</div>

<div class="modal fade" id="magazineApproveListModal" tabindex="-1" role="dialog" aria-labelledby="magazineApproveListModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="magazineApproveListModal">查看审批记录</h4>
            </div><div class="modal-body">
                <div style="min-height: 420px;min-width:400px">
                    <div class="gridStyle" style="height: 350px; border: 1px solid rgb(212,212,212)" ng-grid="approveGridOptions">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

