@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>

    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>北京现代领动上市活动</title>
    <style>
        p {
            line-height: 30px;
        }
    </style>
</head>
<body>
    <div>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/1.jpg" style="width: 100%" /></p>
        <p>&nbsp;&nbsp;“领动震撼上市，令天下为之所动”。自3月25日上市，领动流体雕塑2.0的时尚外观、7速双离合变速器的强劲配置，带来耳目一新的全新用车体验，点燃了大家的购车热情。</p>
        <p>&nbsp;&nbsp;“蓝缤多重礼遇领不停”活动，主要是为了让大家到店试驾，感受领动的全新技能。同时，给予成功购车的客户更多超值惊喜。活动开始至今，已经约五万余人参与了试驾预约服务报名，好多小伙伴已经领取了我们免费送出的精美礼品。卓棒个性化U24手环也疯狂派送了，中奖尚未收到礼品的小伙伴，不要着急，惊喜马上到。</p>
        <p><img src="~/Contents/images/introduction/2.jpg" style="width: 100%" /></p>
        <p>&nbsp;&nbsp;看到各种超值又丰厚的礼品，是不是内心已经蠢蠢欲动了。还没有参与的小伙伴快来行动吧！下面再为大家介绍一下如何参加活动。活动截止时间4月30日。点击活动链接，参与“试驾有礼“或“推荐有礼”，就有机会免费赢取卓棒运动手环、超值常规保养券。活动链接：</p>
        <p><a href="https://www.bluemembers.com.cn/lingdong/Index?source=tieba">https://www.bluemembers.com.cn/lingdong/Index?source=tieba</a> 或：</p>
        <p><a href="https://www.bluemembers.com.cn/lingdong/Index?source=blms">https://www.bluemembers.com.cn/lingdong/Index?source=blms</a></p>
        <p>&nbsp;&nbsp;如果您不了解领动，别着急，我再带您领略一下领动的全新技能。全新1.4T-GDi涡轮增压发动机搭配7速双离合变速器，黄金动力组合，充分感受速度与激情。</p>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/3.jpg" style="width: 100%" /></p>
        <p>AEB自动紧急制动系统，检测可能和前车追尾，AEB主动制动，总能在关键时刻拉您一把。</p>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/4.jpg" style="width: 100%" /></p>
        <p>无需表达，我更懂你，后备箱智能开启让您轻松便利，随心自由开启。</p>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/5.jpg" style="width: 100%" /></p>
        <p>&nbsp;&nbsp;前后排座椅加热：冬日送暖、夏日携凉，座椅加热/通风，比他/她更贴心，还有什么理由不爱我。</p>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/6.jpg" style="width: 100%" /></p>
        <p>&nbsp;&nbsp;小伙伴们赶快行动起来！卓棒手环、常规保养券免费送，更有价值千元加油卡等你来抢！多重礼遇领不停！快来参加吧！</p>
        <p>活动链接：</p>
        <p><a href="https://www.bluemembers.com.cn/lingdong/Index?source=tieba">https://www.bluemembers.com.cn/lingdong/Index?source=tieba</a></p>
        <p style="text-align: center;"><img src="~/Contents/images/introduction/7.jpg" style="width: 100%" /></p>
        <p>长按识别二维码，立即关注北京现代bluemembers公众微信号，第一时间获取新鲜资讯。</p>
    </div>
</body>
</html>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>

