@{
    Layout = null;
    var oid = ViewBag.oid ?? "";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>

    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>北京现代领动上市活动</title>
    <link href="~/Contents/css/lingdong/main.css" rel="stylesheet" />
    <link href="~/Contents/css/card/card-index-media.css" rel="stylesheet" />
    <!--引入pageSlider所需样式表-->
    <link rel="stylesheet" href="~/Contents/css/PageSlider/pageSlider.css">
    <style type="text/css">
    </style>
    <style type="text/css">
        .hide {
            display: none;
        }

        .ground {
            background-size: 100% 100%;
            overflow: hidden;
        }

        .cover {
            padding: 0;
            margin: 0;
            z-index: 100;
        }

        .botbox {
            width: 100%;
        }

        .bot {
            z-index:999;
            width: 12%;
            position: absolute;
        }

        .bot1 {
            animation: botmove 1s infinite;
            -moz-animation: botmove 1s infinite;
            -webkit-animation: botmove 1s infinite;
            -o-animation: botmove 1s infinite;
        }

        .bot2 {
            animation: botmove 1s infinite 0.3s;
            -moz-animation: botmove 1s infinite 0.3s;
            -webkit-animation: botmove 1s infinite 0.3s;
            -o-animation: botmove 1s infinite 0.3s;
        }

        .bot3 {
            animation: botmove 1s infinite 0.6s;
            -moz-animation: botmove 1s infinite 0.6s;
            -webkit-animation: botmove 1s infinite 0.6s;
            -o-animation: botmove 1s infinite 0.6s;
        }
    </style>
    <script>
        function TouchBot(bot, sc) {
            //$("#" + bot).removeClass("cover");
            //$("#" + bot).addClass("hide");
            $("#" + sc).removeClass("hide");
            $("#" + bot).addClass("cover");
        }
        function TouchUp(hide1, hide2, show1) {
            $("#" + hide1).addClass("hide");
            $("#" + hide2).addClass("hide");
            $("#" + show1).removeClass("hide");
        }

        function go() {
            var oid = $("#oid").val();
            var url = common.api("Lingdong/Readme?openid=" + oid);
            window.location = url;
        }
    </script>
</head>
<body>
    <div class="section sec1">
        <div id="s1" class="commonBg ground" style="background-image:url('../Contents/images/lingdong/quantou1.jpg');">
            <div class="botbox cover" style="margin-left:44.2vw;margin-top: 14vh; ">
                <img id="touch_1_1" src="~/Contents/images/lingdong/quantou_redbot1.png" class="bot"  />
                <img id="touch_1_2" src="~/Contents/images/lingdong/quantou_redbot2.png" class="bot bot1" />
                <img id="touch_1_3" src="~/Contents/images/lingdong/quantou_redbot3.png" class="bot bot2" />
                <img id="touch_1_4" src="~/Contents/images/lingdong/quantou_redbot4.png" class="bot bot3" />
            </div>
        </div>
        <div id="sc1" class="commonBg hide">
            <img src="~/Contents/images/lingdong/quantou1_cover.png" style="width: 100%; height: 100%;" />
            <div class="up cover">
                <img src="~/Contents/images/lingdong/quantou_up.png" style="width:7%;" />
            </div>
        </div>
    </div>
    <div class="section sec2">
        <div id="s2" class="commonBg ground" style="background-image:url('../Contents/images/lingdong/quantou2.jpg');">
            <div class="botbox cover" style="margin-left:43.9vw;margin-top: 31.5vh; ">
                <img id="touch_2_1" src="~/Contents/images/lingdong/quantou_redbot1.png" class="bot" />
                <img id="touch_2_2" src="~/Contents/images/lingdong/quantou_redbot2.png" class="bot bot1" />
                <img id="touch_2_3" src="~/Contents/images/lingdong/quantou_redbot3.png" class="bot bot2" />
                <img id="touch_2_4" src="~/Contents/images/lingdong/quantou_redbot4.png" class="bot bot3" />
            </div>
        </div>
        <div id="sc2" class="commonBg hide">
            <img src="~/Contents/images/lingdong/quantou2_cover.png" style="width: 100%; height: 100%;" />
            <div class="up cover">
                <img src="~/Contents/images/lingdong/quantou_up.png" style="width:7%;" />
            </div>
        </div>
    </div>
    <div class="section sec3">
        <div id="s3" class="commonBg ground" style="background-image:url('../Contents/images/lingdong/quantou3.jpg');">
            <div class="botbox cover" style="margin-left:39.5vw;margin-top: 28.5vh; ">
                <img id="touch_3_1" src="~/Contents/images/lingdong/quantou_redbot1.png" class="bot" />
                <img id="touch_3_2" src="~/Contents/images/lingdong/quantou_redbot2.png" class="bot bot1" />
                <img id="touch_3_3" src="~/Contents/images/lingdong/quantou_redbot3.png" class="bot bot2" />
                <img id="touch_3_4" src="~/Contents/images/lingdong/quantou_redbot4.png" class="bot bot3" />
            </div>
        </div>
        <div id="sc3" class="commonBg hide">
            <img src="~/Contents/images/lingdong/quantou3_cover.png" style="width: 100%; height: 100%;" />
            <div class="up cover">
                <img src="~/Contents/images/lingdong/quantou_up.png" style="width:7%;" />
            </div>
        </div>
    </div>
    <div class="section sec4">
        <div id="s4" class="commonBg ground" style="background-image:url('../Contents/images/lingdong/quantou4.jpg');">
            <div class="botbox cover" style="margin-left:33vw;margin-top: 39.5vh; ">
                <img id="touch_4_1" src="~/Contents/images/lingdong/quantou_redbot1.png" class="bot" />
                <img id="touch_4_2" src="~/Contents/images/lingdong/quantou_redbot2.png" class="bot bot1" />
                <img id="touch_4_3" src="~/Contents/images/lingdong/quantou_redbot3.png" class="bot bot2" />
                <img id="touch_4_4" src="~/Contents/images/lingdong/quantou_redbot4.png" class="bot bot3" />
            </div>
        </div>
        <div id="sc4" class="commonBg hide">
            <img src="~/Contents/images/lingdong/quantou4_cover.png" style="width: 100%; height: 100%;" />
            <div class="go cover">
                <img id="touch_5" src="~/Contents/images/lingdong/go.png" style="width:20%;" />
            </div>
        </div>
    </div>
    <input type="hidden" id="oid" value="@(oid)" />
    <script src="~/Contents/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Contents/Scripts/Me/common.method.js"></script>
    <script src="~/Contents/Scripts/zepto.js"></script>
    <!--引入pageSlider.js文件-->
    <script src="~/Contents/Scripts/PageSlider/pageSlider.js"></script>
    <script src="~/Contents/Scripts/lingdongExpired.js"></script>
    <script>
        var pageSlider = PageSlider.case();
        $('#touch_1_1').bind("touchend", function () {
            TouchBot('bot1', 'sc1');
        });
        $('#touch_1_2').bind("touchend", function () {
            TouchBot('bot1', 'sc1');
        });
        $('#touch_1_3').bind("touchend", function () {
            TouchBot('bot1', 'sc1');
        });
        $('#touch_1_4').bind("touchend", function () {
            TouchBot('bot1', 'sc1');
        });

        $('#touch_2_1').bind("touchend", function () {
            TouchBot('bot2', 'sc2');
        });
        $('#touch_2_2').bind("touchend", function () {
            TouchBot('bot2', 'sc2');
        });
        $('#touch_2_3').bind("touchend", function () {
            TouchBot('bot2', 'sc2');
        });
        $('#touch_2_4').bind("touchend", function () {
            TouchBot('bot2', 'sc2');
        });

        $('#touch_3_1').bind("touchend", function () {
            TouchBot('bot3', 'sc3');
        });
        $('#touch_3_2').bind("touchend", function () {
            TouchBot('bot3', 'sc3');
        });
        $('#touch_3_3').bind("touchend", function () {
            TouchBot('bot3', 'sc3');
        });
        $('#touch_3_4').bind("touchend", function () {
            TouchBot('bot3', 'sc3');
        });

        $('#touch_4_1').bind("touchend", function () {
            TouchBot('bot4', 'sc4');
        });
        $('#touch_4_2').bind("touchend", function () {
            TouchBot('bot4', 'sc4');
        });
        $('#touch_4_3').bind("touchend", function () {
            TouchBot('bot4', 'sc4');
        });
        $('#touch_4_4').bind("touchend", function () {
            TouchBot('bot4', 'sc4');
        });
        $('#touch_5').bind("touchend", function () {
            go();
        });
    </script>
</body>
</html>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>

