
@{
    ViewBag.Title = "卡券使用方法";
    Layout = "~/Views/Shared/_LayoutYuena.cshtml";
}

@*<h2>CouponsUserMethod</h2>*@
<div class="main">
    
    <div class="usekq">
        <h2 class="common_title">卡券使用方法</h2>
        <img src="~/Contents/yuena/images/use_kq.png">
    </div>
</div>

