@{
    Layout = null;
}

<div class="yyrk_cont" style="height:142px;">
    <div class="yyrk">
        <span>快捷功能</span>
        <label>Shortcut Function</label>
    </div>
    <a href="/Home/AppDownLoad#AppDownLoadTerminal" target="_blank"><img src="/img/k1.png" class="kk_left" style="margin-left:0;" /></a>
    <a href="/Home/WechatCode" target="_blank"><img src="/img/k2.png" class="kk_left" /></a>
    <a href="/Home/OnLineService" target="_blank"> <img src="/img/k3.png" class="kk_left" /></a>
</div>