@{
    ViewBag.Title = "找回登录密码";
}

<h2>找回登录密码</h2>
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9" ng-switch on="showId">

        <!--验证手机-->
        <section id="f1" ng-switch-when="f1">

            <form class="form-horizontal" novalidate>
                <h4 class="lead">请输入您需要找回登录密码的账户手机</h4>
                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />
 
                <div class="form-group" ng-class="{ 'has-error' : errorPhoneNumber }">
                    <label for="txtPhoneNumber" class="col-md-2 control-label">手机号</label>
                    <div class="col-md-4">
                        <input id="txtPhoneNumber" type="text" class="form-control" placeholder="请输入已绑定的手机号" ng-model="formData.PhoneNumber" required />
                    </div>
                    <span class="col-md-offset-3 col-md-3 help-block" ng-show="errorPhoneNumber">{{ errorPhoneNumber }}</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : errorValidateCode }">
                    <label for="txtValidateCode" class="col-md-2 control-label">验证码</label>
                    <div class="col-md-4">
                        <input id="txtValidateCode" type="text" class="form-control" placeholder="请输入收到的手机验证码" ng-model="formData.ValidateCode" required />
                    </div>
                    <div class="col-md-1">
                        <img src="/ValidateCode/Index?ID=1" id="imgCode" alt="单击可刷新" ng-click="clickRemoveChangeCode()" />
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:void(0)" ng-click="clickRemoveChangeCode()">看不清，换一张</a>
                    </div>
                    <span class="col-md-3 help-block" ng-show="errorValidateCode">{{ errorValidateCode }}</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-success" ng-click="clickValidatePhoneNumber()" value="下一步" />
                    </div>
                </div>
            </form>

        </section>

        <!--选择找回方式-->
        <section id="f2" ng-switch-when="f2">

            <form class="form-horizontal">
                <h4 class="lead">您正在为账户139****0428 申请登录密码重置，请选择您的找回方式</h4>
                <hr />

                <h4>可以接收短信验证</h4>
                <hr />

                <div class="form-group">
                    <label class="col-md-8">通过手机接收验证信息 + 证件号码，找回登录密码</label>
                    <input class="btn btn-success" type="button" ng-click="clickSelectValidateFunction(1)" value="立即找回" />
                </div>

                <div class="form-group">
                    <label class="col-md-8">通过手机接收验证信息 + 密保问题，找回登录密码</label>
                    <input class="btn btn-success" type="button" ng-click="clickSelectValidateFunction(2)" value="立即找回" />
                </div>

                <hr />
                <h4>无法接收短信验证</h4>
                <hr />

                <div class="form-group">
                    <label class="col-md-8">通过证件号码 + 邮箱，找回登录密码</label>
                    <input class="btn btn-success" type="button" ng-click="clickSelectValidateFunction(3)" value="立即找回" />
                </div>

                <div class="form-group">
                    <label class="col-md-8">通过证件号码 + 密保问题，找回登录密码</label>
                    <input class="btn btn-success" type="button" ng-click="clickSelectValidateFunction(4)" value="立即找回" />
                </div>
            </form>

        </section>

        <!--手机验证码 + 证件号码-->
        <section id="f21" ng-switch-when="f21">

            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />

                <div class="form-group">
                    <label class="col-md-2 control-label">已绑定手机：</label>
                    <label class="col-md-2 control-label">{{formData.PassPhoneNumber}}</label>
                    <input class="btn btn-default" type="button" ng-click="clickSendValidateCode()" ng-disabled="mySwitch" value="发送短信验证码" />
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorPhoneValidateCode }">
                    <label class="col-md-2 control-label">短信验证码：</label>
                    <input class="col-md-2 form-control" type="text" placeholder="请输入收到的手机验证码" ng-model="formData.PhoneValidateCode" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorPhoneValidateCode">{{ errorPhoneValidateCode }}</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorIdentityNumber }">
                    <label class="col-md-2 control-label">身份证号码：</label>
                    <input class ="col-md-2 form-control" type="text" placeholder="请输入您注册时填写的身份证号码" ng-model="formData.IdentityNumber" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorIdentityNumber">{{ errorIdentityNumber }}</span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="button" class="btn btn-success" ng-click="clickValidate(1)" value="提交身份验证" />
                    </div>
                </div>
            </form>

        </section>

        <!--手机验证码 + 密保问题-->
        <section id="f22" ng-switch-when="f22">

            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />

                <div class="form-group">
                    <label class="col-md-3 control-label">已绑定手机：</label>
                    <label class="col-md-2 control-label">{{formData.PassPhoneNumber}}</label>
                    <input class="btn btn-default" type="button" ng-click="clickSendValidateCode()" ng-disabled="mySwitch" value="发送短信验证码" />
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorPhoneValidateCode }">
                    <label class="col-md-3 control-label">短信验证码：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="formData.PhoneValidateCode" required placeholder="请输入收到的手机验证码" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorPhoneValidateCode">{{ errorPhoneValidateCode }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">安全保护问题一：</label>
                    <label class="control-label">{{questions[0].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer1 }">
                    <label class="col-md-3 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[0].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer1">{{ errorAnswer1 }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">安全保护问题二：</label>
                    <label class="control-label">{{questions[1].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer2 }">
                    <label class="col-md-3 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[1].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer2">{{ errorAnswer2 }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">安全保护问题三：</label>
                    <label class="control-label">{{questions[2].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer3 }">
                    <label class="col-md-3 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[2].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer3">{{ errorAnswer3 }}</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="button" class="btn btn-success" ng-click="clickValidate(2)" value="提交身份验证" />
                    </div>
                </div>
            </form>

        </section>

        <!--邮箱 + 证件号码-->
        <section id="f23" ng-switch-when="f23">
            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />

                <div class="form-group" ng-class="{ 'has-error' : errorEmail }">
                    <label class="col-md-2 control-label">邮箱：</label>
                    <input class="col-md-2 form-control" type="text" placeholder="请输入账户绑定邮箱" ng-model="formData.Email" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorEmail">{{ errorEmail }}</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : errorIdentityNumber }">
                    <label class="col-md-2 control-label">身份证号码：</label>
                    <input class="col-md-2 form-control" type="text" placeholder="请输入您注册时填写的身份证号码" ng-model="formData.IdentityNumber" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorIdentityNumber">{{ errorIdentityNumber }}</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="button" class="btn btn-success" ng-click="clickValidate(3)" value="提交身份验证" />
                    </div>
                </div>
            </form>
        </section>

        <!--密保问题 + 证件号码-->
        <section id="f24" ng-switch-when="f24">
            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />

                <div class="form-group" ng-class="{ 'has-error' : errorIdentityNumber }">
                    <label class="col-md-2 control-label">身份证号码：</label>
                    <input class="col-md-2 form-control" type="text" placeholder="请输入您注册时填写的身份证号码" ng-model="formData.IdentityNumber" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorIdentityNumber">{{ errorIdentityNumber }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">安全保护问题一：</label>
                    <label class="control-label">{{questions[0].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer1 }">
                    <label class="col-md-2 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[0].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer1">{{ errorAnswer1 }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">安全保护问题二：</label>
                    <label class="control-label">{{questions[1].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer2 }">
                    <label class="col-md-2 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[1].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer2">{{ errorAnswer2 }}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">安全保护问题三：</label>
                    <label class="control-label">{{questions[2].Question}}</label>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : errorAnswer3 }">
                    <label class="col-md-2 control-label">答案：</label>
                    <input type="text" class="col-md-2 form-control" ng-model="questions[2].Answer" />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorAnswer3">{{ errorAnswer3 }}</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="button" class="btn btn-success" ng-click="clickValidate(4)" value="提交身份验证" />
                    </div>
                </div>
            </form>
        </section>

        <!--重置密码-->
        <section id="f3" ng-switch-when="f3">
            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 complete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 nocomplete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <hr />
                <span class="col-md-12 help-block alert-warning" ng-show="errorMessage">{{ errorMessage }}</span>
                <hr />

                <div class="form-group" ng-class="{ 'has-error' : errorLoginPassword }">
                    <label class="col-md-2 control-label">新密码：</label>
                    <input type="password" class="col-md-2 form-control" ng-model="formData.LoginPassword" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorLoginPassword">{{ errorLoginPassword }}</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : errorConfirmLoginPassword }">
                    <label class="col-md-2 control-label">确认密码：</label>
                    <input type="password" class="col-md-2 form-control" ng-model="formData.ConfirmLoginPassword" required />
                    <span class="col-md-offset-1 col-md-4 help-block" ng-show="errorConfirmLoginPassword">{{ errorConfirmLoginPassword }}</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="button" class="btn btn-success" ng-click="clickModifyPassword()" value="确认修改" />
                    </div>
                </div>
            </form>
        </section>

        <!--重置密码成功-->
        <section id="f4" ng-switch-default>
            <form class="form-horizontal">
                <div>
                    <p class="col-md-3 complete-and-next">1.身份验证</p>
                    <p class="col-md-offset-1 col-md-3 complete-and-next">2.重置登录密码</p>
                    <p class="col-md-offset-1 col-md-3 complete-and-next">3.修改完成</p>
                    <hr class="col-md-12" />
                </div>

                <div class="form-group">
                    <label class="text-center col-md-12">登录密码修改成功！请牢记您的账户密码。</label>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-offset-12 text-center">
                        <input type="button" class="btn btn-success" ng-click="clickFinish()" value="重新登录" />
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>