@{
    ViewBag.Title = "ModifyLoginPassword";
}
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div class="container panel panel-default">
    <div class="panel-body"><strong>修改登录密码</strong></div>
</div>

<div id="f1" class="container panel panel-default">
    <div class="row panel-body">
        <label>定期更换密码可以让你的账户更加安全。
                请确保登录密码与支付密码不同！
                建议密码采用字母和数字或符号混合，并且不短于6位。</label>

        <div class="form-group">
            <label>当前登录密码</label>
            <input type="text" />
        </div>

        <div class="form-group">
            <label>新登录密码</label>
            <input type="text" />
        </div>

        <div class="form-group">
            <label>确认新登录密码</label>
            <input type="text" />
        </div>

        <div class="form-group">
            <input type="button" value="确认修改" />
        </div>

    </div>
</div>