@{
    ViewBag.Title = "会员手册_会员计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/NewCss/resetzsy.css" rel="stylesheet" />
<script src="~/Scripts/VipPlan/VipPlan.js"></script>
<div class="wrapper">
    <section class="mpBox">
        <div class="mpBanner">
            <img src="@Url.Content("~/img/Newimg/mp_bluemembers2.jpg")" />
        </div>
        <h2 class="mpBoxh2">
            <b class="faqB">1</b>
            <strong>总则</strong>
            <i class="rot90"></i>
        </h2>
        <div class="h2Pcont" style="display:block;">
            <p class="parMemb">
                bluemembers（蓝缤）是北京现代秉承“从现代 到未来”战略，以打造卓越品牌力为驱动，在客户服务领域为车主倾心打造的创新服务品牌。
            </p>
            <p class="parMemb">
                bluemembers（蓝缤）以会员制为核心，深度洞察会员需求，不断创新服务，致力于为全系车主会员提供全方位、高品质、专业化的优质服务。
            </p>
            <p class="parMemb">
                成为bluemembers会员，获得丰厚积分奖励，享受优质车辆服务及生活服务，开启尊享之旅。
            </p>
        </div>

        <h2 class="mpBoxh2">
            <b class="faqB">2</b>
            <strong>入会</strong>
            <i></i>
        </h2>
        <div class="h2Pcont">
            <h3>
                2.1&nbsp;入会条件
            </h3>

            <p>
                <span style="line-height:150%;font-family:微软雅黑">（1）会员类别：</span>
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>bluemembers注册用户：通过bluemembers网站、App、微信完成注册流程的自然人
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>bluemembers普卡会员：符合bluemembers会员条件并完成入会流程的北京现代个人车主
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>bluemembers银卡会员：达到bluemembers银卡会员标准的个人车主
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>bluemembers金卡会员：达到bluemembers金卡会员标准的个人车主
            </p>

            <p>
                <span style="line-height:150%;font-family:微软雅黑">（2）缴费标准：</span>
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>注册用户：免费
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>蓝缤会员：100元（第九代索纳塔、全新途胜、全新胜达、ix25、ix35、名图、名驭）50元（朗动、悦动、瑞纳、领动、瑞奕）
            </p>
            <p style="margin-left:0">
                注：2016年4月1日后购买北京现代车辆的用户入会时一次性缴纳，即可拥有终身会员资格，退会时入会费不予退还。
            </p>

            <p>
                <span style="line-height:150%;font-family:微软雅黑">（3）会员卡形式：bluemembers会员卡均为电子会员卡</span>
            </p>
            <h3>
                2.2&nbsp;入会方式
            </h3>
            <p class="parTit3">
                线上会员申请：
            </p>
            <p style="margin-left:0">
                <strong>bluemembers注册用户：</strong>
            </p>
            <p class="textInd">
                入会流程：访问bluemembers门户网站、App或微信→填写个人资料信息→注册成功→登陆
            </p>
            <p style="margin-left:0">
                <strong>bluemembers会员申请：</strong>
            </p>
            <p class="textInd">
                北京现代车主在特约店完成购车后，可以通过bluemembers网站、App、微信自行注册成为bluemembers会员。
            </p>
            <p class="textInd">
                入会流程：购车完成→在线注册bluemembers会员→在线选择缴费方式完成缴费（通过并缴纳会费）→收到入会通知（短信）并获得积分→登陆
            </p>
            <p class="parTit3">
                线下会员申请：
            </p>
            <p class="textInd">
                北京现代车主在特约店完成购车后，可以在店内填写入会申请表，由特约店协助完成入会。
            </p>
            <p class="textInd">
                入会流程：购车完成→北京现代特约店→（索取）《北京现代bluemembers会员申请表》→填写个人资料→收到入会通知（短信）并获取积分
            </p>
            <p class="orgProm">
                <strong><span style="line-height:150%;font-family:微软雅黑">温馨提示：</span></strong>
            </p>
            <p class="textInd2 orgProm">
                <span style="line-height:150%;font-family:微软雅黑">1.<span style="font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp; </span></span><span style="line-height:150%;font-family:微软雅黑">您必须如实填写个人信息，个人信息必须与车主信息一致</span>
            </p>
            <p class="textInd2 orgProm">
                <span style="line-height:150%;font-family:微软雅黑">2.<span style="font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp; </span></span>不同车型的车主缴纳入会费的金额不同，获取积分也不同</span>
            </p>
            <p class="textInd2 orgProm">
                <span style="line-height:150%;font-family:微软雅黑">3. </span><span style="line-height:150%;font-family:微软雅黑">入会费缴纳可以选择在线支付或特约店支付</span>
            </p>
            <p class="textInd2 orgProm">
                <span style="line-height:150%;font-family:微软雅黑">4. </span><span style="line-height:150%;font-family:微软雅黑">北京现代审核需5个工作日，请您耐心等待。</span>
            </p>
        </div>

        <h2 class="mpBoxh2">
            <b class="faqB">3</b>
            <strong>会员等级与管理</strong>
            <i></i>
        </h2>
        <div class="h2Pcont">
            <h3>
                3.1&nbsp;会员等级标准
            </h3>
            <table class="get-integral">
                <tbody>
                    <tr>
                        <th width="10%" rowspan="3" style="vertical-align:middle;" class="integral_color">晋级<br>条件</th>
                        <td width="15%" style="vertical-align:middle;">金卡</td>
                        <td width="75%" style="border-bottom:0;" class="tdParMemb">
                            会员入会当天开始计算，1年内累计，增换购2次以上（含2次）即可晋级为金卡会员；除首保外，返厂消费4次或消费金额达到3000元以上即可晋级金卡会员
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle;">银卡</td>
                        <td style="border-bottom:0;" class="tdParMemb">会员入会当天开始计算，1年内累计，增换购1次即可晋级为银卡会员；除首保外，返厂消费2次或消费金额达到1500元以上即可晋级银卡会员</td>
                    </tr>

                    <tr>
                        <td>普卡</td>
                        <td>车主成功入会即为普卡会员</td>
                    </tr>
                    <tr>
                        <th rowspan="3" style="vertical-align:middle;" class="integral_color">保级<br>条件</th>
                        <td style="vertical-align:middle;">金卡</td>
                        <td class="tdParMemb" style="border-bottom:0;">会员升级当天计算，1年内累计，返厂消费3次或消费金额2250元，即可保级；如未达到则降级</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle;">银卡</td>
                        <td class="tdParMemb" style="border-bottom:0;">会员升级当天计算，1年内累计，返厂消费1次或消费金额达到750元，即可保级；如未达到则降级</td>
                    </tr>
                    <tr>

                        <td>普卡</td>
                        <td>——</td>
                    </tr>
                </tbody>
            </table>
            <h3>
                3.2会员等级有效期
            </h3>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:微软雅黑">普卡会员：拥有北京现代车辆期间</span>
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:微软雅黑">银卡会员：1年</span>
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:微软雅黑">金卡会员：1年</span>
            </p>
        </div>

        <h2 class="mpBoxh2">
            <b class="faqB">4</b>
            <strong>会员义务</strong>
            <i></i>
        </h2>
        <div class="h2Pcont">
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>车主只能提交一次入会申请，不得重复申请。
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>需保证所提供信息的准确性和完整性，以确保每位会员在第一时间享受到北京现代提供的超值服务。
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>保管好个人的帐户与密码信息，如因会员个人原因造成帐户密码丢失，导致积分被盗用等后果，北京现代将不负任何责任。
            </p>
            <p style="margin-left:0">
                <span style="line-height:150%;font-family:Wingdings;margin-right:4px;"></span>在手机号码、通讯地址等信息变更时，需要主动及时通知北京现代或特约店进行更正；因地址错误导致邮件遗失或延误，北京现代概不负责。
            </p>
        </div>


        <h2 class="mpBoxh2">
            <b class="faqB">5</b>
            <strong>服务内容</strong>
            <i></i>
        </h2>
        <div class="h2Pcont">
            <p class="memParSerCon">
                <strong>贴身服务：</strong>
                <span>30分钟快速保养，免费取送车等服务，贴身关爱您的爱车。</span>
            </p>
            <p class="memParSerCon">
                <strong>超值福利：</strong>
                <span>保养兑换券，机场候机，五星酒店等您来享。</span>
            </p>
            <p class="memParSerCon">
                <strong>乐享积分：</strong>
                <span>累积积分抵扣现金消费，精美礼品实时兑换。</span>
            </p>
            <p class="memParSerCon">
                <strong>便捷预约：</strong>
                <span>车辆、生活服务提前预约，试驾/订车、维保省时省心更快捷。</span>
            </p>
            <p class="memParSerCon">
                <strong>缤纷活动：</strong>
                <span>量身定制特色活动，抢红包、赢豪礼，月月有惊喜。</span>
            </p>
        </div>

    </section>

</div>