@{
    ViewBag.Title = "会员权益_会员计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/NewCss/resetzsy.css" rel="stylesheet" />
<div class="wrapper">
    <section class="mpBox">
        <div class="mpBanner">
            <img src="@Url.Content("~/img/Newimg/mp_bluemembers2.jpg")" />
        </div>
        <h2 class="mpBoxh2">
            <b class="faqB">1</b>
            <strong>会员权益</strong>
            <i class="rot90"></i>
        </h2>
        <div class="h2Pcont interests_table" style="display:block;">
            <p>
                bluemembers（蓝缤）为车主提供超值的车辆、生活及尊享服务；
            </p>
            <table>
                <tr>
                    <th width="40%" style="vertical-align: middle;" rowspan="2">会员权益</th>
                    <th width="60% " colspan="3">会员类别</th>

                </tr>
                <tr>
                    <th width="20% ">普卡</th>
                    <th width="20% ">银卡</th>
                    <th width="20% ">金卡</th>
                </tr>

                <tr>
                    <td>会员商城折扣优惠</td>
                    <td>√</td>
                    <td>9折</td>
                    <td>8折</td>
                </tr>
                <tr>
                    <td>生日特别心意礼品</td>
                    <td>——</td>
                    <td>——</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>维修保养消费返积分</td>
                    <td>自费金额*10%</td>
                    <td>自费金额*15%</td>
                    <td>
                        <p>自费金额*20%</p>
                        <p>生日月自费金额*50%</p>
                    </td>
                </tr>
                <tr>
                    <td>春/夏/冬季售后卡券</td>
                    <td>√</td>
                    <td>√</td>
                    <td>
                        <p>√</p>
                    </td>
                </tr>
                <tr>
                    <td>车辆养护服务<br />(5种产品任选一种)</td>
                    <td>——</td>
                    <td>1/年</td>
                    <td>
                        <p>2/年</p>

                    </td>
                </tr>

                <tr>
                    <td>免费取送车服务</td>
                    <td>——</td>
                    <td>——</td>
                    <td>
                        √
                    </td>
                </tr>
                <tr>
                    <td>24小时道路救援</td>
                    <td colspan="3">只针对第九代索纳塔和全新途胜用户</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">机场尊享服务</td>
                    <td style="vertical-align: middle;">积分兑换</td>
                    <td style="border-bottom:0;">
                        <p>2次免费后</p>
                        <p>积分兑换</p>
                    </td>
                    <td style="border-bottom:0;">
                        <p>3次免费后</p>
                        <p>积分兑换</p>
                    </td>
                </tr>
                <tr>
                    <td>星巴克卡券</td>
                    <td>180积分兑换</td>
                    <td>150积分兑换</td>
                    <td>120积分兑换</td>
                </tr>

                <tr>
                    <td>景点门票</td>
                    <td>——</td>
                    <td>8折积分兑换</td>
                    <td>7折积分兑换</td>
                </tr>
                @*<tr>
                    <td>途牛五星会员权益</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>*@
                <tr>
                    <td>海航礼悦会钻石权益</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>途家会员权益</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>专属活动</td>
                    <td>——</td>
                    <td>——</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>预约试驾</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>在线订车</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>预约维保</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>线上保养产品</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>经销商查询</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>问卷调查</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td>纯正配件查询</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td colspan="4" class="last-table">
                        ——&nbsp;代表不享有该权益<br />
                        &nbsp;&nbsp;√&nbsp;&nbsp;&nbsp;&nbsp;代表享有该权益
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </section>

</div>