@{
    ViewBag.Title = "获奖名单列表";
    ViewBag.TitleFocus = "2-2-1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vcyber.BLMS.ManageWeb.Helper;
@Html.AntiForgeryToken()


<div class="path">
    <a href="#">问卷管理</a>><a href="">获奖名单列表</a>
</div>
<div class="box_m1" style="border: 1px solid #dddddd;margin-top:10px; margin-bottom: 10px; padding-top: 10px">
    <span>问卷id： </span>
    @(Html.TextBox("QuestionnaireId", "", new { @class = "input_text1" }))
    <input type="button" value="查询" class="btn btn-default" onclick="search();" />
</div>
<div class="box_m2" style="border: 1px solid #dddddd;margin-top:10px; margin-bottom: 10px; padding-top: 10px">
    <form action="/Questionnaire/ImportWinning" method="post" enctype="multipart/form-data">
        <ul style="list-style: none">
            <li>
                <input type="text" id="qId" name="qId" placeholder="问卷id" class="input_text1"/>
                <span style="float: left; width: 200px"><strong>批量导入获奖名单</strong></span>
                <input style="float: left; width: 180px" type="file" name="file"/>
                <input type="submit" id="dr" value="导入" style="width: 150px"/>
                <a target="_blank" href="../UploadImg/Winning.xlsx" class="text-center">下载导入文件模板</a>
            </li>
        </ul>
        @Html.AntiForgeryToken()
    </form>
</div>

<div id="orderlist">
</div>


<div id="divPageList">
    @*@{
        Html.RenderAction("WinningPartialPage", new { index = 1, size = 10 });
    }*@
</div>

<style>
    .span {
        width: 70px;
        background-color: #00ADFF;
        height: 30px;
        border: 0;
        padding: 0;
        margin-top: 0;
        text-align: center;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#dr").click(function () {
            var qid = $("#qId").val();
            if (qid == null || qid == "") {
                alert("请填写问卷id");
                return false;
            }
        });
    });

    //列表分页
    function GetPageList(pageIndex) {
        var data = {
            id: $("#QuestionnaireId").val(),
            index: pageIndex,
            size: 10,
            "__RequestVerificationToken": document.getElementsByName('__RequestVerificationToken')[0].value
        };
        var url = "@Url.Action("WinningPartialPage")";
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function (msg) {
                $("#divPageList").html(msg);
            }
        });
    }

    //保存查询条件
    function search() {
        GetPageList(1);
    }

    $(function() {
        GetPageList(1);
    });
</script>
