body{background-color:#fff;margin-bottom:15px;font-family:"Microsoft YaHei",微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu}
.header{margin-left:6px;margin-right:6px;margin-top:20px;text-align:left}
.header .logo{line-height:40px;vertical-align:central}
.header .title{font-size:12px}
.section{background-color:#f2f2f3;margin-left:6px;margin-right:6px;padding-bottom:10px;margin-top:-15px}
.fontColor{color:#ff8500}
.b{font-weight:700}
.section .desc{width:100%;height:auto;background:#f2f2f3;border-radius:4px}
.section .desc h4{color:#ff8500;line-height:26px;height:26px;text-align:center;padding-top:6px}
.section .desc h6{margin:0 0 0 6px;font-size:12px;color:#ff8500}
.section .desc dl{display:table;margin-top:16px;font-size:14px}
dl dt{float:left;margin-left:6px}
dl dt img{width:39px}
dl dd{margin-left:48px;margin-top:-10px}
dl dd h5{color:#ff8500;margin-top:4px;margin-bottom:0}
dl dd p{margin-top:3px;padding-right:8px;line-height:16px;padding:0}
.flow{width:100%;display:block;margin-top:18px}
.upgrate_bot{display:table;margin-top:10px;width:100%}
.upgrate_bot a{display:block}
.upgrate_bot a img{margin:0 auto;display:block}
#havecode{color:#ff8500;margin:0;font-size:4px;text-decoration:none;width:29%;float:right;position:relative;top:-22px}
.div_pop{position:absolute;width:100%;height:100%;background:rgba(0,0,0,.9);text-align:center;top:0;left:0;z-index:105;display:none;margin:0 auto}
.div_content{background-color:#fff;width:90%;height:150px;margin-left:4%;border-radius:5px;position:relative;top:30%}
.div_content #close_btn{float:right;margin-top:3px;margin-right:3px}
.div_content p{margin:0;color:#7c7b7b}
.div_content span{border-radius:3px;line-height:25px;height:26px;width:60%;margin-left:20%;margin-top:8px;margin-bottom:8px;background-color:#b6b6b6;display:block}
.xiangqingBox{font-size:14px;line-height:22px}
.xiangqingBox table{width:100%;border-collapse:collapse}
.xiangqingBox table td{border:1px solid #ccc;text-align:center;width:50%;padding:10px 2px}
.xiangqingBox{font-size:14px;line-height:22px}
.jqImgBox{font-family:inherit}
.jqImgBox .pBox{text-align:center;margin:10px 0}
.jqImgBox .pBox img{width:100%}
.jqImgBox h3{font-weight:600;font-size:18px;text-align:center;color:#065090;margin:10px 0 0 0}
.jqImgBox .pContent{font-size:14px;line-height:20px;padding:0 15px;text-indent:2em}
p.pBox img{width:100%}
.gy_list_box{padding:0 20px}
.pContent{font-size:14px;line-height:26px;text-indent:2em}
.pContent strong{font-size:16px}
.pContTit,.pContent strong{color:#075090;font-weight:700}
.pContTit{margin-bottom:15px;text-align:center;margin-top:20px}
.pContentCent{text-align:center}
.pContentCent img{width:60%}
.pContentLine{border-bottom:1px solid #eee;width:100%;text-indent:0;margin:15px 0}
.pBoxImg,.pBoxTab{text-align:center;margin-bottom:20px}
.pBoxImg img{width:80%}
.pBoxTab img{width:100%}
.hrLine{height:1px;border:none;border-top:1px solid #d7d7d7}
.jqImgBox .pBox img{width:100%}
a.btnXbkBg{display:block;width:142px;font-size:16px;height:33px;margin:40px auto;background:#f49600;line-height:30px;text-align:center;text-decoration:none;color:#fff}