body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
html {font-size:100px; width:100%; height:100%;}
body {font-family:"Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif; position: relative; width:100%; height:100%; font-size:.26rem;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
ul, ol { list-style:none; }
img { border:0; }
em,i,b,strong{ font-style:normal; font-weight:normal;}
a { text-decoration:none; }
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a,button,input,select,textarea,form {-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */}
/***********reset end********************/
body{ 
	height:100%;
	background-color:#f5f5f5;
	border-sizing:border-box;
	-webkit-box-sizing:border-box; 
}
.wrapper{
	position: relative;
	margin: 0 auto;
	background: #fff;
	
} 
.wrapper h1.regLogo{ 
	width:2.82rem;
	height:0.32rem;
	/*background:url(../newimg//lanbing_logo.png) no-repeat;*/
    background:url(../../img/NewImg/lanbing_logo.png) no-repeat;
	background-size:100% 100%;
	text-indent:-99999em;
	margin:.36rem auto 0.36rem;
}
.wrapper h1 a { 
	display:block;
	height:100%;
}
.wrapper .member_head{ 
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:3.58rem;
	background:url(../../img/memberCenter_bg.png) repeat-x;
	background-size: contain;
	z-index:88;
	
}
.member_head .member_rank{
	width:100%; 
	height:0.83rem;
	position: absolute;
	top:2.75rem;
	left:0;
	z-index:11;
	display:-webkit-box;
}
.member_head .member_logobox{
	width:100%; 
	height:0.62rem;
	position:relative;
	margin-bottom:0.4rem;	   
}
.member_logobox h1{ 
	height:0.32rem;
	width:2.82rem;
	background:url(../../img/NewImg/lanbing_logo.png) no-repeat;
	background-size:100% 100%;
	text-indent:-99999em;
	position:absolute;
	top:0.3rem;
	left:0.24rem;
}
.member_logobox h1 a{ 
	height:100%;
	display:block;
}
.member_logobox .member_msgbox{ 
	width:1.98rem;
	height:100%;
}
.member_msgbox .member_msgbell{
	width:0.29rem;
	height:0.3rem;
	display:block;
	/*background:url(../newimg//memberCenter_bell.png) no-repeat;*/
    background:url(../../img/NewImg/memberCenter_bell.png) no-repeat;
	position:absolute;
	top:0.24rem;
	right:1.98rem;
	background-size:100% 100%;
}
.member_msgbox .member_msgtit{ 
	width:0.3rem;
	height:0.3rem;
	display:block;
	border-radius:50%;
	-webkit-border-radius:50%;
	position:absolute;
	right:1.74rem;
	top:0.12rem;
	text-align:center;
	line-height:0.3rem;
	background-color:#ee4e10;
	font-size:0.14rem;
	color:#fff;
}
.member_msgbox a{ 
	display:block;
	font-size:0.24rem;
	color:#ffffff;
	width:1.34rem;
	position: absolute;
	right:0.34rem;
	top:0.26rem;
}
.member_namebox
{ 
	width:100%;
	height:1.5rem;
	position:relative;
	left:0;
}
.member_namebox h2{ 
	width:1.34rem;
	height:1.34rem;
	border-radius:50%;
	border:0.08rem solid #74aad5;
	position:absolute;
	left:0.42rem;
	top:0;
	z-index:20;
	overflow: hidden;
	background:#ffffff;
}
.member_namebox img{ 
	width:1.58rem;
	height:1.43rem;
	position:absolute;
	left:-0.1rem;
	top:-0.1rem;
}
.member_nametext{
	width:3.96rem; 
	height:1.14rem;
	position:absolute;
	left:2.16rem;
	top:0.26rem;
	color:#ffffff;
}
.member_nametext .member_name{ 
	width:3rem;
	height:0.6rem;
	line-height:0.6rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:0.3rem;
	
}
.member_nametext .member_card{ 
	width:100%;
	height:0.54rem;
	line-height:0.6rem;
	font-size:0.22rem;
}
.member_card i{ 
	width:0.32rem;
	height:0.41rem;
	position:absolute;
	top:0.64rem;
	left:2.52rem;
	
}
.member_card .goldcard{ 
	/*background:url(../newimg//memberCenter_vipgold.png) no-repeat;*/
    background:url(../../img/NewImg/memberCenter_vipgold.png) no-repeat;
	background-size:100% 100%;
}
.member_card .silvercard{ 
	/*background:url(../newimg//memberCenter_vipsilver.png) no-repeat;*/
    background:url(../../img/NewImg/memberCenter_vipsilver.png) no-repeat;
	background-size:100% 100%;
}

.member_namebox em{ 
	width:0.14rem;
	height:0.27rem;
	position:absolute;
	right:0.3rem;
	top:0.6rem;
	/*background:url(../newimg//memberCenter_right.png) no-repeat;*/
    background:url(../../img/NewImg/memberCenter_right.png) no-repeat;
	background-size:100% 100%;
}

.member_rank div{ 
	-webkit-box-flex:1; 
	text-align:center; 
	height:100%; 
	line-height:0.83rem;
	font-size:0.26rem;
	color:#ffffff;
}
.member_rank i{
	height:0.48rem;
	width:0.02rem;
	position:absolute;
	left:50%;
	top:0.2rem;
	background-color:#3487d7;
}
/*section*/
.member_pay{ 
	width:100%;
	height:0.7rem;
	background:#3487d7;
	text-align:center;
	line-height:0.7rem;
	font-size:0.26rem;
	color:#fff;
	position:relative;
	top:0.24rem;
	left:0;
}
.member_pay i{ 
	display:block;
	width:0.18rem;
	height:0.19rem;
	position:absolute;
	right:2.12rem;
	top:0.26rem;
}
.member_pay .pay_top{ 
	/*background:url(../newimg//sec_pay1.png) no-repeat;*/
    background:url(../../img/NewImg/sec_pay1.png) no-repeat;
	background-size:100% 100%;
}
.member_pay .pay_bottom{ 
	background:url(../../img/NewImg/sec_pay2.png) no-repeat;
	background-size:100% 100%;
}
.member_choice{
	width:100%;
	height:1.63rem; 
	position:relative;
	left:0;
	top:0.52rem;
	border-top:0.02rem solid #e3e3e3;
	border-bottom:0.03rem solid #dadada;
	display: -webkit-box;
}
.member_choice a{
	display:block;
	height:100%;
	-webkit-box-flex:1;
	border-right:0.02rem solid #e7e7e7;
	
} 
.member_choice a:nth-child(4){ 
	border-right:none;
 }

/*弹窗*/ 
.section .PopWindown{ position:relative; width:5.8rem; height:2.88rem; background:url(../../img/NewImg/BgPopWin.png) no-repeat center center; background-size:100% 100%; border-radius:10px;font-family:"Microsoft YaHei"; }
.section .PopWindown .layermcont{ text-align: center;
    font-size: .28rem;
    width: 3.6rem;
	height:.8rem;
    margin-left: 1.8rem;
    margin-top: .8rem;
    border: none;
	vertical-align:middle;}
.section .PopWindown .layermbtn{ border:none;}
.section .PopWindown .layermbtn:before{ background:none !important;}
.section .PopWindown .layermbtn span:first-child{ background: #3487d7;color: #fff;left: .8rem;width: 2rem;border-radius: .15rem; border:none; top:.4rem;}

/* 页脚 */
footer{
	width: 100%; 
	position: fixed;
	left: 0;
	bottom: 0;
	font-size:0.16rem;
	height:1.21rem;
}
.footNavTit{ 
	position:relative;
	width: 100%;
	height:.18rem;
	background: url(../../img/NewImg/footer_line.png) no-repeat center top;
	background-size: 100% auto;
	z-index: 9;
}
.fontNavCon{ position:relative; width:100%; height:1.03rem; overflow:hidden; background:#fff;}

.fontNavCon a{ display:block; width:1.14rem; height:100%; line-height:1.6rem; float:left;text-align: center; color: #878787;  }

.nav-1{ 
	background-image: url(../../img/NewImg/nav_m1.png);
	background-repeat:no-repeat;
	background-position:center  20%;
	background-size: 35% auto;
}
.nav-2{ 
	background-image: url(../../img/NewImg/nav_m2.png);
	background-repeat:no-repeat;
	background-position:center 30%;
	background-size: 50% auto;
}
.nav-3{ 
	background-image: url(../../img/NewImg/nav_m3.png);
	background-repeat:no-repeat;
	background-position:center 30%;
	background-size: 50% auto;

}
.nav-4{ 
	background-image: url(../../img/NewImg/nav_m4.png) ;
	background-repeat:no-repeat;
	background-position:center 15%;
	background-size: 50% auto;
}
.fontNavCon a.nav-5{
	width:1.24rem;
	margin:0 0.3rem;
	background-image: url(../../img/NewImg/nav_m5.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:100% 100%;
	color:#fff;
}

.fontNavCon a.nav-5a {
	width:1.24rem;
	margin:0 0.3rem;
	background-image: url(../../img/NewImg/nav_m5_a.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:100% 100%;
	color:#fff;
}

a.nav-1a{ 
	background-image: url(../../img/NewImg/nav_m1_a.png);
	background-repeat:no-repeat;
	background-position:center  20%;
	background-size: 35% auto;
	color:#054487;
}
a.nav-2a{ 
	background-image: url(../../img/NewImg/nav_m2_a.png);
	background-repeat:no-repeat;
	background-position:center 30%;
	background-size: 50% auto;
	color:#054487;
}
a.nav-3a{ 
	background-image: url(../../img/NewImg/nav_m3_a.png);
	background-repeat:no-repeat;
	background-position:center 30%;
	background-size: 50% auto;
	color:#054487;

}
a.nav-4a{ 
	background-image: url(../../img/NewImg/nav_m4_a.png) ;
	background-repeat:no-repeat;
	background-position:center 15%;
	background-size: 50% auto;
	color:#054487;
}

/*注册*/
section.regSection{ position:relative; width:5rem; margin:0 auto; }
.regSection input{ font-size:.26rem; padding:.1rem; font-family:inherit;}
.regSection select.regBox100{font-size:.26rem; padding:.1rem; font-family:inherit; width: 4.95rem;}
.regSection p{ position:relative; margin-bottom:.3rem; width:100%;}
.regSection .regBox100 { width:4.7rem;}
{font-size:.26rem; padding:.1rem; font-family:inherit;width: 4.96rem;}
.imgVerCod{ display:inline-block; vertical-align:middle;}
input.imgVerCod{ width:2.2rem;}
img.imgVerCod{ height:.6rem; width:1.9rem; margin-left:.5rem;}
.veriCondSend{ display:inline-block; width:1.9rem; height:.6rem; background:#3487d7; border-radius:5px; vertical-align:middle; line-height:.6rem; color:#fff; text-align:center; margin-left:.5rem;}
.regSpanS{ display:block; font-size:.22rem; margin-top:.03rem;}
#carMaster{ height:.26rem; width:.26rem; vertical-align:middle;}




/*天猫跳转页*/
.tmailSection{ position:relative; width:100%; height:100%; background:#3487d7; }
.tmailBto{ position: absolute; bottom:1rem; width:100%; z-index:2;}
.tmailBoy{ position:absolute; left:50%; margin-left:-2.71rem; top:.4rem; width:5.42rem; height:5.35rem;}
.xs_logo{width:1.92rem;height:2.5rem;position:relative;margin-top:1.1rem;left:50%;margin-left:-0.96rem;}
.tmailSection p{ position:relative; width:100%;margin-top:.2rem; text-align:center; font-size:0.32rem; color:#fff; font-weight:bold;z-index:100; }
#url1{display:block; position:relative; width:100%;margin-top:.2rem; text-align:center; font-size:.26rem; color:#fff; font-weight:bold;z-index:100; }


/*在线商城*/
.shopHeader{ position:relative; width:100%; height:1.95rem;}
.shopHeader ul{ width:100%; height:1.1rem; overflow:hidden;}
.shopHeader li{ float:left; width:50%; text-align:center; height:1.02rem; line-height:1.02rem; font-size:.3rem; font-weight:bold; }
.shopHeader li.on{ border-bottom:.08rem solid #f49600;}
.shopHeader li span{ vertical-align:middle;}
.shopHeader li img{ width:.75rem; vertical-align:middle;}
.shopHeader div{ position:relative; width:100%; height:.83rem; background:#f5f5f5; border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc; line-height:.83rem;}
.shopHeader div span{ font-size:.26rem; display:inline-block; margin-left:.45rem;}
.shopHeader div select{ width:2.74rem; height:.4rem; border:1px solid #bdc7d8; line-height:.4rem; padding:0 0.02rem; font-size:.24rem; font-family:inherit;}
.shopSect{ position:relative; width:100%; height:6.6rem; overflow:auto; padding-bottom:2.1rem; background:#f5f5f5;}
.shopSect dl{ position:relative; width:100%; height:1.88rem; background:#fff; background-size: 100% 100%; margin-bottom:.16rem; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.shopSect dt{ position:absolute; left:.15rem; top:.15rem; width:1.54rem; height:1.54rem; overflow:hidden;border: 1px solid #e7e7e7;box-sizing: border-box; border-radius: .05rem;}
.exchangeBtn{ position:absolute; top:.58rem; left:4.77rem; width:1.45rem; height:.6rem; line-height:.6rem; text-align:center; background:#f49600; border-radius:5px; font-size:.24rem; color:#fff;}
.exchangeBtn a{ display:block; width:100%; height:100%; line-height:inherit; text-align:center; color:#fff;}
.exchangeBtn:hover{ background:#f48400;}
.shopSect dt img{ width:100%;border-radius: .05rem;}
.shopTit{ position:absolute; left:1.85rem; top:.27rem; width:2.92rem; height:.43rem; color:#333333; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:.24rem; }
.shopCarLevel{ position:absolute; left:1.85rem; top:.68rem; width:2.8rem; overflow:hidden; font-size:.2rem; color:#989898;}
.shopCarLevel span{ display:block; width:100%; height:.35rem;}

/*卡券*/
.couConBox div.CouBox{ position:relative; margin:.2rem auto; width:100%; padding-bottom:2.5rem;}
.couConBox div.CouBox .tabTilBox{ position:relative; width:6rem; margin:0 auto; height:.64rem;overflow:hidden; border:.04rem solid #3487d7; background:#3487d7; border-radius:.1rem; font-size:.28rem; color:#fff; }
.couConBox div.CouBox .tabTilBox li{ float:left; width:2rem; height:.64rem; line-height:.64rem; font-size:.28rem;background:#3487d7; color:#3d3f43; cursor:pointer; text-align:center; margin-top:0; color:#fff;}
.couConBox div.CouBox .tabTilBox li.on{ background:#fff; color:#3487d7;}
a.couHouji{ position:absolute; display:block;left:4.3rem;top:.04rem;width:1.8rem; height:.63rem; line-height:.63rem; border-radius:0 0.1rem 0.1rem 0;font-size:.28rem; background:#3487d7; color:#3d3f43; cursor:pointer; text-align:center; color:#fff;z-index: 200; }

.tabConBox{ display:none;}
.tabConBox dl{ position:relative; width:100%; min-height:100%; padding-bottom:2.5rem;}
.tabConBox dt{ 
    position: relative;
    width: 100%;
    height: .84rem;
    border-bottom: .01rem solid #eee;
    overflow: hidden;
}
.tabConBox dt span{ float:left; display:inline-block; width:2.08rem; height:.8rem; line-height:1rem; font-size:.28rem; text-align:center; color:#919191;cursor:pointer;}
.tabConBox dt span.on{ border-bottom:.04rem solid #3487d7; color:#3487d7;}
.tabConBox dd{ position:relative; width:100%; display:none;}
.tabConBox dd.couponsBox{width:100%; height:6.45rem; overflow:auto; padding-top: .33rem; padding-bottom:2.5rem;}

.tabConBox dd.couponsBox div.couOnlyBox{ position:relative; width:6rem; height:2.06rem; margin:0 auto; margin-bottom:.34rem; color:#fff; }
.blue{ background:#4ca5fb;}
.yellow{ background:#eba805;}
.org{ background:#ff8a49;}
.gray{ background:#dedede;}
.gray .cvRight{ color:#989898;}
/*20160627*/
.gray .bgCardVou em{ color:#3487d7; border:1px solid #3487d7;}
.couOnlyBox a.bgCardVou{ display:block; width:100%; height:100%; background:url(../../img/NewImg/bgCardVou.png) no-repeat; background-size:100% 100%;}
.couOnlyBox em{  position:absolute;display:block; width:.74rem; height:.42rem; line-height:.42rem; left:4.9rem; top:.85rem; font-size:.24rem; color:#fff; text-align:center; border:1px solid #fff; border-radius:.1rem;}

.cvRight{ position:absolute; left:.53rem; top:.3rem; width:3.8rem; color:#fff;}
.cvRight h2,.cvRight h3,.cvRight h4{ text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-weight:normal; }
.cvRight h2{ font-size:.32rem; height:.59rem;}
.cvRight h3{ font-size:.26rem; height:.44rem; border-bottom:1px dashed #fff; margin-bottom:.15rem;}
.cvRight h4{ font-size:.20rem;}
.couOnlyBox i.on{ position:absolute; display:block; width:1.84rem; height:1.62rem; left:-.12rem; top:-.14rem; background:url(../../img/NewImg/CouUsed.png) no-repeat; background-size:100% 100%; z-index:100; }
.cvHzBox{ top:.26rem;}
.cvHzBox h2{ height:.7rem;}
.cvIcon{ width:.57rem; height:.57rem; vertical-align:middle; margin-right:.18rem;}
.hzColor1{ background:#00684e;}
.hzColor2{ background:#db7400;}
.hzColor3{ background:#ff8a49}
.couponsBox .gray .cvHzBox h2 img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);	
    filter: gray;
}

/*卡券详情页面*/
.headerDet{ position:relative; width:100%; height:2.6rem; background:#3487d7;}
.headerDet h1{ position:absolute; left:50%; top:50%; width:2.08rem; height:2.08rem; margin-left:-1.04rem; margin-top:-1.04rem; overflow:hidden; text-align:center;height: 2.08rem;}
.headerDet h1 img{ width:100%; }
.secVouDet{ position:relative; width:100%; padding:.4rem; box-sizing:border-box; padding-bottom:2rem; min-height: 7rem;}
.secVouDet h2{ text-align:center; font-size:.26rem; color:#3d3f43; margin-bottom:.24rem;}
.bgVouErBox{ position:relative; width:2.76rem; height:2.74rem; margin:0 auto; background:url(../../img/NewImg/bgVouDet.png) no-repeat; background-size:100% 100%;}
.bgVouErBox img{ position:absolute; width:2.33rem; height:2.33rem; left:.21rem; top:.24rem;}
.secVouDet h3{ position:relative; font-size:.32rem; color:#075090; text-align:center; margin:.3rem 0 .7rem; font-weight:600;}
.secVouDet h3 i{ font-size:.30rem; font-weight:600;}
.secVouDet h4{ position:relative; width:100%; font-size:.28rem; color:#3d3f43; height:.5rem;}
.secVouDet h5{ position:relative; width:100%; font-size:.28rem; color:#3d3f43; line-height:.4rem;}

/*会员计划*/
.get-integral{ 
    border-collapse:collapse;
    border:none;
    font-size:.22rem;
    text-align:center;
    margin-top:.1rem;
    width:100%;
}

.get-integral th{ 
    border:1px solid #ccc;
	padding:.2rem 0;
    background-color: #0c5194;
    color:#fff;
}
.get-integral td{ 
    border:1px solid #ccc;  
    padding:.15rem 0.1rem;
   
}
.get-integral .integral_color{ 
    background-color: #ed6d1e;color: #fff;
}
strong{ 
    font-weight:600;
}

.get-integral em.tdP{ height:.2rem; display:block; line-height:0;}

.get-integral td.tdParMemb{border-bottom: 0;line-height: .3rem;padding:.15rem;text-align: left;}
.mpBox p.memParSerCon{ padding-left:.1rem; background:url(../../img/NewImg/coupDot.jpg) no-repeat 2em 12px;}
.mpBox p.memParSerCon strong{ text-indent:2.5em; display:block;}
.mpBox p.memParSerCon span{ display:block; padding-left:3em;}
.mpBox p.textInd{ padding-left:3em;}
.mpBox p.textInd2{ padding-left:2em;}
.mpBox p.orgProm{color:#FF7F28;}
.interests_table table{ 
	border-collapse:collapse;
	border:none;
	font-size:.22rem;
	text-align:center;
	margin-top:.1rem;
}
.interests_table table th{ 
	border:1px solid #ccc;
	padding:.15rem 0;
	background-color: #0c5194;
	color:#fff;
}
.interests_table table td{ 
	border:1px solid #ccc;
	padding:.2rem 0;
	background-color:#eaf6fd;
	color: #777;
}
.interests_table .last-table{ 
	text-align:left;
	padding:.08rem 0.38rem;
}

.mpBox p.faqParTitle1{font-size: .30rem;color: #000; font-weight: 600;}
.mpBox p.faqParTitle2{font-size: .28rem;color: #000; font-weight: 600; margin-top:.2rem; margin-bottom:.2rem;}
.mpBox p.parTit3{ font-size:.22rem; font-weight:bold; padding-left:1em;}
/*.mpBox strong{ line-height:180%; vertical-align:middle;width: 5rem;display: inline-block;}*/
.mpBox h3{ font-size:.22rem; font-weight:bold; margin:.1rem 0;}
.mpBox p.faqPar{ padding-left:.3rem;}
.mpBox td{ vertical-align:middle;}
.mpBox td p{ line-height:.4rem; text-align:center; text-indent:0;}

.mpBanner{ width:100%; margin-bottom:.2rem;}
.mpBanner img{ width:100%;}
.mpBox{ background:#eee; padding-bottom:1.2rem;}
.mpBox h2{ position:relative; padding:.3rem; background:#fff; border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc; font-size:.26rem; margin-bottom:.1rem;}
b.faqB{margin-right:.2rem; border-radius:1rem; height:.35rem; width:.35rem; float: left; color: #fff; text-align: center; line-height:.35rem; background:#f49600; font-size:.22rem; vertical-align:middle; margin-top:.05rem;}
.h2Pcont{ position:relative; width:100%; padding:.1rem 0.3rem; box-sizing:border-box; line-height:.4rem; font-size:.22rem;background:#fafafa; margin-bottom:.2rem; border-bottom:1px solid #fff; display:none; margin-top:-.07rem;}
.mpBox p{ text-indent:2em; margin:.05rem 0; color:#777;}
.mpBoxh2 i{ display:inline-block; position:absolute; right:.4rem; top:.45rem; width:.12rem; height:.17rem; background:url(../../img/NewImg/ico_arrow_s1.png) no-repeat center center; background-size:100% 100%;transform:rotate(0);}
.mpBoxh2 i.rot90{transform:rotate(90deg);}
.mpBoxh2 i.down{transform:rotate(90deg); transition:all ease-in .15s;}
.mpBoxh2 i.up{transform:rotate(0); transition:all ease-in .15s;}
.mpBox .get-integral td{ color:#777; height:auto;}
#memberindex_scoreechange{border-collapse: collapse;border-spacing: 0;}
#memberindex_scoreechange td{ border:1px solid #999; padding:.15rem 0.05rem; color:#777; text-align:center;}
#memberindex_scoreechange thead td{ background:#0c5194; color:#fff;}
















