body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*添加的特定样式*/
.complete-and-next {
    background: #3dbe06;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

.nocomplete-and-next {
    background: #d0cece;
    font-weight: bold;
    font-size: 13pt;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
