span, b, p, ol, label, h1, h2, li, a, div {
	font-family: '微软雅黑';
}

a {
	text-decoration: none;
}

.n_all_cont {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	display: table;
}

.n_left_cont {
	width: 286px;
	height: 100%;
	float: left;
	font-family: '微软雅黑' !important;
}

.fywz_name {
	width: 100%;
	height: 204px;
	background: #eeeeee;
    /*margin-top: 20px;*/
}

.fywz_img {
	margin: 16px 10px 0 16px;
	float: left;
	width: 122px;
	height: 121px;
}

.fywz_name h1 {
	width: 130px;
	font-size: 20px;
	color: #075090;
	font-family: '微软雅黑';
	float: left;
	margin-top: 17px;
	margin-bottom: 44px;
}

.fywz_name span {
	width: 120px;	
	display: block;
	float: left;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}

.fywz_name label {
	width: 122px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	display: block;
	float: left;
	color: #fff;
	margin-left: 16px;
	margin-top: 14px;
	cursor: pointer;
}

.yyrk_cont {
	width: 100%;
	height: 231px;
    border-top: 2px solid #075090;
	margin-top: 20px;
	margin-bottom: 20px;
}

.yyrk {
	width: 100%;
	height: 53px;
	text-align: center;
	background: #eeeeee;
}

    .yyrk span {
	font-size: 16px;
	color: #3d3f43;
	width: 100%;
	height: 30px;
	line-height: 40px;
	display: block;
}

    .yyrk label {
	font-size: 10px;
	color: #3d3f43;
	width: 100%;
	display: block;
}

.yy_left {
	float: left;
	margin-top: 4px;
	cursor: pointer;
}

.yy_right {
	float: right;
	margin-top: 4px;
	cursor: pointer;
}

.kk_left {
	float: left;
	margin-top: 4px;
	cursor: pointer;
	margin-left: 5px;
}

.gy_cont, .gy_list {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.gy_title {
	width: 100%;
	height: 56px;
	line-height: 56px;
	background: #eeeeee;
}

.gy_zi {
	width: 100%;
	height: 32px;
	border-left: 4px solid #f49600;
	margin-left: 16px;
	margin-top: 12px;
	float: left;
}

    .gy_zi h1 {
	font-size: 18px;
	color: #3d3f43;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-left: 6px;
        width: 97%;
}

    .gy_zi span {
	font-size: 12px;
	color: #3d3f43;
	float: left;
	height: 12px;
	line-height: 12px;
	margin-left: 6px;
}

.gy_nr {
	height: auto;
    border: 1px solid #eeeeee;
}

.erji_img {
    margin: 10px;
}

.arrow_n {
	margin-right: 30px;
	float: right;
	margin-top: -16px;
	cursor: pointer;
}

.gy_nr img {
    margin: 10px;
}

.hot_news {
	width: 287px;
	float: left;
}

.gy_nr ul li {
	background: url(../img/dan.png) no-repeat left center;
	margin-left: 10px;
	height: 18px;
	line-height: 18px;
	margin-bottom:4px;
}

    .gy_nr ul li span {
	font-size: 12px;
}

    .gy_nr ul li a {
	font-size: 12px;	
	color: #767675;
	text-decoration: none;
}

.sonta_nine {
	width: 388px;
	margin-left: 20px;
	float: right;
}

.gr_h1 {
	font-size: 20px;
	margin-left: 10px;
	color: #3d3f43;
	height: 40px;
	line-height: 40px;
}

.gy_nr p {
	font-size: 12px;
	color: #767575;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 16px;
	margin-bottom: 10px;
}

.zzdow {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.gy_nr h2 {
	font-size: 14px;
	color: #474747;
	margin-top: 10px;
	margin-bottom: 8px;
}

.gy_nr h1 {
	font-size: 20px;
}

.gy_nr .gr_num {
	display: block;
	width: 63px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	float: left;
	background: #cbcbcb;
	color: #fff;
	cursor: pointer;
	margin: 10px 0;
	font-size: 12px;
}

.gr_p {
	font-size: 8px;
}

.fix_nav {
	width: 82px;
	position: fixed;
	right: 30px;
	bottom: 30px;
    z-index: 9999999;
}

    .fix_nav .fix_ul li {
	text-align: center;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #828181;
	cursor: pointer;
	background: #3d3f43;
}

        .fix_nav .fix_ul li img {
	margin-top: 12px;
}

.hide_ul {
	position: fixed;
	bottom: 30px;
	right: 112px;
}

    .hide_ul li {
	height: 45px;
	line-height: 45px;
	text-align: center;
        padding: 0 10px;
	color: #fff;
	background: #3d3f43;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	display: none;
}



.gy_nr2 {
	height: auto;
    border: 1px solid #eeeeee;
	padding: 10px 10px;
	display: table;
}


    .gy_nr2 dt {
	float: left;
	width: 368px;
	height: 174px;
	margin-right: 14px;
}

    .gy_nr2 dd h3, .gy_list_box dd h3 {
	font-size: 24px;
	font-family: "微软雅黑";	
	font-weight: normal;
}

    .gy_nr2 dd p {
	color: #767575;
	font-size: 12px;
	margin-top: 24px;
	line-height: 21px;
}

.gy_list_box {
	height: auto;
    border: 1px solid #eeeeee;
	padding: 0 10px;
	/*display: table;*/
}

    .gy_list_box dl {
	padding-bottom: 14px;
	border-bottom: 1px dashed #EEEEEE;
	margin-top: 10px;
}

        .gy_list_box dl:last-child {
	border-bottom: none;
}

    .gy_list_box dt {
	width: 368px;
	height: 120px;
	float: left;
	margin-right: 14px;
}

    .gy_list_box dd p {
	color: #767575;
	font-size: 12px;
	margin-top: 30px;
	line-height: 21px;
}

.product_show ul {
	height: 200px;
	border: 1px solid #EEEEEE;
}

    .product_show ul li {
	width: 33.3%;
	float: left;
	text-align: center;
}

        .product_show ul li img {
	margin-top: 18px;
}

        .product_show ul li h3 {
	font-size: 14px;
	color: #707070;
	margin-top: 20px;
}

        .product_show ul li p {
	font-size: 10px;
	margin-top: 10px;
}

#mar_t_39 {
	margin-top: 39px;
}

#mar_t_25 {
	margin-top: 25px;
}

.col_o {
    color: #f39800;
}

.col_b {
	color: #004587;
}

.col_h {
	color: #767575;
}


.n_right_cont {
	width: 695px;
	float: right;
	height: 100%;
}


.n_right_cont {
	width: 695px;
	float: right;
	height: 100%;
}










/*  匹配到多辆车   */

.select_menu {
	font-size: 12px;
	margin-bottom: 17px;
}

    .select_menu a {
        color: #004587;
}

        .select_menu a:last-child {
	color: #004587;
}

.select_car {
	border: 1px solid #EEEEEE;
    padding: 34px 26px;
}

    .select_car span {
	display: block;
	font-size: 14px;
	color: #3D3F43;
}

    .select_car ul {
	height: 194px;
	border-bottom: 1px dashed #e3e3e3;
	margin-top: 30px;
}

    .select_car li {
	float: left;
	width: 194px;
	margin-right: 28px;
}


        .select_car li:last-child {
	margin-right: 0;
}

        .select_car li p {
	font-size: 17px;
	color: #3D3F43;
	margin-top: 6px;
	margin-bottom: 8px;
}

        .select_car li b {
	font-size: 12px;
	color: #767575;
}

.selcet_bot {
	height: 32px;
	width: 500px;
	margin: 0 auto;
	margin-top: 30px;
}

    .selcet_bot a {
	display: block;
	float: left;
	width: 230px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-right: 36px;
	cursor: pointer;
}

        .selcet_bot a:last-child {
	margin-right: 0;
}

.befor_ac {
	color: #FFFFFF;
	background: #075090;
	border: 1px solid #075090;
}

.after_ac {
	color: #EEEEEE;
	background: #909090;
	border: 1px solid #bebebe;
}

.selcet_bot a:hover {
	color: #909090;
	background: #EEEEEE;
	border: 1px solid #bebebe;
}



/*  匹配到多辆车   */

.fail_box {
	width: 99.8%;
	border: 1px solid #EEEEEE;
    border-top: 2px solid #075090;
	display: table;
	padding-bottom: 188px;
}

    .fail_box dl {
	width: 560px;
	margin: 0 auto;
	margin-top: 80px;
}

    .fail_box dt {
	float: left;
	margin-right: 16px;
}

    .fail_box dd h2 {
	font-size: 18px;
	color: #3D3F43;
	line-height: 30px;
	margin-bottom: 50px;
}

    .fail_box dd a {
	color: #0d5493;
	font-size: 12px;
	margin-left: 62px;
}

/*  服务详情   */

.fwxq_box {
	border: 1px solid #EEEEEE;
	padding: 26px 8px 60px;
}

    .fwxq_box p {
	font-size: 14px;
	text-indent: 24px;
	line-height: 26px;
}

    .fwxq_box img {
	margin-top: 24px;
}

    .fwxq_box h3 {
	font-size: 14px;
	color: #075090;
	margin: 24px 0;
}

.yuyue {
	display: block;
	width: 230px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 114px;
}

.befor_ac {
	color: #FFFFFF;
	background: #075090;
	border: 1px solid #075090;
}

.yuyue:hover {
	color: #fff;
	background: #0B63b7;
	border: 1px solid #0B63b7;
}



/*  新闻列表   */

.new_menu {
    width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.news_box {
    width: 99.8%;
	border: 1px solid #EEEEEE;
    border-top: 2px solid #075090;
}

.news_li {
	padding: 12px 10px;
	border-bottom: 1px dashed #e3e3e3;
	display: table;
}

    .news_li:last-child {
	border-bottom: none;
}

    .news_li dt {
	float: left;
	margin-right: 14px;
}

    .news_li h3 {
	color: #3D3F43;
        font-size: 20px;
	margin-bottom: 8px;
    line-height:25px;
}

    .news_li span {
	background: url(../img/clock2.png) no-repeat left center;
	font-size: 12px;
	color: #767575;
}

    .news_li p {
	font-size: 12px;
	color: #767575;
	margin-top: 20px;
	line-height: 21px;
}



/*  兑换失败   */

.exchange_fail {
	width: 99.8%;
	border: 1px solid #EEEEEE;
	border-top: 2px solid #075090;
	display: table;
    padding-bottom: 114px;
}


.exchange_fail dl {
	width: 240px;
	margin: 0 auto;
	margin-top: 140px;
}

.duihuan_car dl {
    width: 272px;
}

.exchange_fail dt {
	float: left;
	margin-right: 16px;
}

.exchange_fail dd h2 {
	font-size: 18px;
	color: #3D3F43;
	line-height: 40px;
    margin-bottom: 40px;
}

.exchange_fail dd a {
	color: #0d5493;
	font-size: 12px;
	margin-left: 62px;
    line-height: 30px;
	display: block;
}


.duihuan_car dd a {
	margin-left: 76px;
}





.oto_help {
    width: 100%;
    height: auto;
}

.tixing_oto {
    width: 94%;
    margin: 0 auto;
    line-height: 22px;
    font-size: 14px;
    color: #a1a1a1;
    margin-top: 20px;
    height: 64px;
    border-bottom: 1px solid #eeeeee;
}

.oto_help p {
    height: 45px;
    line-height: 45px;
    width: 100%;
    float: left;
}

.oto_help p span {
        display: block;
        width: 10px;
        float: left;
        height: 45px;
        color: #f00;
        font-size: 18px;
        margin-left: 20px;
}

.oto_help p label {
        width: 100px;
        display: block;
        float: left;
        font-size: 14px;
        text-align: right;
}

.oto_help p select {
        width: 230px;
        height: 31px;
        line-height: 31px;
        border: 1px solid #b8bbbf;
}

.map_sel {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.oto_help p i {
    font-size: 14px;
    color: #9e9e9e;
    float: left;
}

.oto_help p strong {
    display: block;
    width: 98px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    float: left;
    font-size: 12px;
    background: #075090;
    color: #fff;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 6px;
}

.oto_help p input {
    width: 220px;
    height: 31px;
    border: 1px solid #c1c1c1;
    float: left;
    margin-top: 6px;
    padding-left: 10px;
}

.oto_help p b {
    font-size: 12px;
    color: #909090;
    float: left;
    margin-left: 10px;
}

.oto_help p textarea {
    width: 434px;
    min-height: 127px;
    border: 1px solid #c1c1c1;
    margin-top: 10px;
}

.yy_a {
    display: block;
    width: 232px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #075090;
    color: #fff;
    float: left;
    margin-top: 300px;
    margin-left: 230px;
}

.yellow_title {
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.yellow_title img {
        float: left;
}

    .yellow_title span {
        color: #3d3f43;
        font-size: 14px;
        margin-left: 10px;
    }


.gy_nr span{
	font-size: 14px;
	color: #707070;
	margin-left: 10px;
	padding-bottom: 10px;
	display: block;
}

.gynot{
	width: 100%;
	height: 36px;
	margin-top: 20px;
}

.gynot li{
	width: 136px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: left;
	background: #f49600;
	font-size: 14px;
	margin-right: 14px;
}

.gynot li:last-child{
	margin-right: 0;
}

.gynot li .fbtz{
	color: #FFFFFF;
	background: url(../../img/luntan_yiezi.png) no-repeat left center;
	padding-left: 18px;
}

.gynot li .fqhd{
	color: #FFFFFF;
	background: url(../../img/luntan_huod.png) no-repeat left center;
	padding-left: 28px;
}

.gy_nr p.forum{
	font-size: 14px;
	color: #767575;
	line-height:18px;
	background: url(../../img/jilu_d2.png) no-repeat left center;
	padding-left:16px;
	margin-left:16px;
}

.retie{
	padding:18px 0 10px 0;
	display: table;
	width: 99%;
}

.retie img{
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin-left: 25px;
}

.tiezi_jl{
	font-size: 12px;
	text-align: right;
	margin-top: 24px;
}

.fenx_lc{
	margin-top: 20px;
	width: 100%;
	border: 1px solid #EEEEEE;
	display: table;
}

.fenx_lc ul{
	padding:20px 16px;
}

.fenx_lc li{
	width: 318px;
	float: left;
	padding-bottom: 10px;
	margin-right: 26px;
}

.fenx_lc li:last-child{
	margin-right: 0;
}

.fenx_lc li h2{
	width: 100%;
	font-size: 16px;
}

.fenx_lc li h2 b{
	width: 2px;
	height: 16px;
	display: block;
	background: #f49600;
	float: left;
	margin-right: 8px;
}

.fenx_lc li h2 a{
	float: right;
	font-size: 12px;
	color: #767575;
	line-height: 16px;
}

.fenx_lc li img{
	width: 318px;
	height: 124px;
	margin-top: 10px;
	margin-bottom: 12px;
}

.fenx_lc p.forum{
	font-size: 12px;
	color: #767575;
	line-height:24px;
	background: url(../../img/jilu_d2.png) no-repeat left center;
	padding-left:16px;
}

.fenx_lc dl{
	padding: 24px 8px;
}

.fenx_lc dt{
	float: left;
	margin-right: 20px;
}

.fenx_lc dd{
	margin-left: 338px;
}

.fabu_tiez{
	width: 100%;
	margin-top: 14px;
		border: 1px solid #EEEEEE;
}

.fabu_tiez thead{
	height: 40px;
	background: #EEEEEE;
	line-height: 40px;
	font-size: 12px;
}

.fabu_tiez thead td{
	text-align: center;
}

.fabu_tiez tbody{
	font-size: 12px;
}

.fabu_tiez tbody tr{
	height: 74px;
}

.bor{
	border-bottom: 1px dashed #EEEEEE;
	color: #767575;
}

.havel{
	line-height: 74px;
}

.big_zi{
	font-size: 14px;
}

.cent{
	text-align: center;
}

.col_b a{
	width: 24px;
	height: 24px;
	display: block;
	position: relative;
	top:12px;
	cursor: pointer;
}

.col_b a img{
	width: 24px;
	height: 24px;
	display: block;
}

.bor p{
	line-height: 20px;
	position: relative;
	top: -9px;
}


/* 机场服务 */
.click_yy {
    width:490px;
    height:457px;
    background:url(../img/hjfw.png) no-repeat;
   /*  position:absolute;
    left:70px;
    top:250px; */
    padding:30px;
}
.yuyue_div {
    height:40px;
    width:100%;
    line-height:24px;
}
.yuyue_div span {
    font-size:14px;
    color:#3d3f43;
    float:left;
}
.pase_num {
    width:127px;
    height:26px;
    line-height:26px;
   /*  border-top:1px solid #cbcbcb;
    border-bottom:1px solid #cbcbcb;
    border-right:1px solid #cbcbcb; */
    float:left;
    margin-left:6px;
}
.pase_num span {
    float:left;
    width:26px;
    height:26px;
    line-height:26px;
    border-left:1px solid #cbcbcb;
    display:block;
    cursor:pointer;
}
.pase_num span img {
    float:left;
    margin-top:8px;
    margin-left:9px;
        
}
.pase_num label {
    text-align:center;
    font-size:12px;
    color:#3d3d3d;
    width:62px;
    border-left:1px solid #cbcbcb;
    height:26px;
    line-height:26px;
    display:block;
    float:left;
        
}
.yuyue_div b {
    font-size:14px;
    color:#909090;
    margin-left:10px;
}
.sel_plane {
    width:100%;
    height:90px;
    margin-top:20px;
    float:left;
}
.sel_plane span {
    display:block;
    float:left;
    height:90px;
    width:100px;
    font-size:14px;
    color:#3d3f43;
}
.sel_plane label {
    display:block;
    width:50px;
    text-align:right;
    float:left;
    font-size:14px;
    color:#3d3f43;
}
.all_btn {
    width:100%;
    text-align:center;
    height:30px;
    line-height:30px;
    background:#cbcbcb;
    float:left;
    font-size:14px;
    color:#fff;
    cursor:pointer;
    
}
.thre_p {
    height:44px;
    line-height:44px;
    width:100%;
    float:left; 
    font-size:14px;
    color:#3d3f43;
}
.thre_p input {
    width:227px;
}

.thre_cc {
    width: 227px;
height: 31px;
display: block;
text-align: center;
line-height: 31px;
float: left;
font-size: 14px;
cursor: pointer;
margin-top: 30px;
}


/*  查询经销商   */

.cxjxs{
	width: 99.8%;
	border: 1px solid #EEEEEE;
}

.select_choose{
	height: 44px;
	line-height: 44px;
	margin: 0 9px;
	font-size: 14px;
}

.select_choose img{
	width: 19px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.select_choose span{
	margin-left: 10px;
}

.select_choose label{
	margin-left: 18px;
	margin-right: 10px;
}

.select_choose select{
	text-indent: 12px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-right: 2px;
}

.sec_1{
	width: 100px;
}

.sec_2{
	width: 114px;
}

.sec_3{
	width: 190px;
}

.select_choose input{
	background: url(../img/cx_bg.png) no-repeat;
	width:72px;
	height:30px;
	font-size: 14px;
	text-align: center;
	line-height:28px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
}

.map_2{
	width: 674px;
	height: 214px;
	display: block;
	margin: 0 auto;
	margin-bottom: 18px;
}

.cxjxs_cont{
	margin: 0 9px;
	border-top:1px solid #EEEEEE;
	display: table;
	padding-bottom: 472px;
}

.cxjxs_cont h4{
	font-size: 14px;
	line-height: 44px;
}

.cxjxs_cont li{
	width: 326px;
	border: 1px solid #EEEEEE;
	padding-bottom: 15px;
	float: left;
	margin-bottom: 20px;
}

.have_mr{
	margin-right: 18px;
}


.cxjxs_cont li h3{
	height: 28px;
	background: #EEEEEE;
	line-height: 28px;
	font-size: 16px;
	padding-left: 12px;
}

.cxjxs_cont li p{
	margin-top: 12px;
	padding-left: 12px;
	font-size: 14px;
}

.cxjxs_cont li img{
	position: relative;
	top:1px;
	margin-right: 12px;
}

.cxjxs_cont li b{
	margin-right:30px;
}


.cxjxs_tc{
	background: url(../img/cxjxs_tc.png) no-repeat;
	width:550px;
	height: 285px;
	position: fixed;
	top:300px;
	left: 62%;
	margin-left: -275px;
	display: none;
}

.cxjxs_tc li{
	border: none;
	margin-top: 50px;
	margin-left: 38px;
	list-style: none;
}

.cxjxs_tc li h3{
	background: none;
}

.cxjxs_tc span{
	width:40px;
	height: 40px;
	display: block;
	float: right;
	margin-top: 52px;
	margin-right: 36px;
	cursor: pointer;
}

.cx_but{
	height: 30px;
	margin: 12px 37px 0;
}

.cx_but a{
	padding: 0 42px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	color: #075090;
	font-size: 14px;
	border: 1px solid #075090;
	margin-right: 10px;
}

.cx_but a:last-child{
	margin-right: 0;
}

/*  查询经销商  --end */


/*首页登录后btn样式*/
.labelZsy_root {
	background: #075090;
	color: #fff;
	margin-left: 10px;
}
#btnHomeLogOffForm:hover, .labelZsy_root:hover { background: #0b63b7;}
#btnHomeLogOffForm {
width: 122px;
height: 33px;
line-height: 33px;
text-align: center;
font-size: 14px;
display: block;
float: left;
color: #fff;
margin-left: 16px;
margin-top: 14px;
cursor: pointer;
background: #075090;
}

.n_right_cont{font-family: '微软雅黑' !important;}