@{
    Layout = null;
}
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
<div>
    <div>支付结果</div>
    <div>
        <div>
            <span>
                <a href="javascript:void(0);" onclick="popWindownBlue( '支付完成');">支付完成</a>
            </span>
        </div>
        <div>
            <span>
                <a href="javascript:void(0);" onclick="popWindownBlue( '关闭当前div');">选择其他支付方式</a>
            </span>
        </div>
    </div>
</div>